{% extends "plugIt/base.html" %}
{% load plugit_tags %}

{% block title %}Stations :: RadioDNS{% endblock %}

{% block menubar %}
    {% plugitInclude "menubar" %}
{% endblock %}

{% block content %}

    {% block pageheader %}
    <div class="menubar">
        <div class="sidebar-toggler visible-xs">
            <i class="ion-navicon"></i>
        </div>
        <div class="page-title">
            {{ebuio_orga.name}} :: Edit a station
            <small class="hidden-xs">{% block pagesubtitle %} {% endblock %}</small>
        </div>
        <div id="page-functions" class="pull-right">{% block pagefunctions %} {% endblock %}</div>
        <div id="page-search" class="pull-right">{% block pagesearch %} {% endblock %}</div>
    </div>
    {% endblock %}

	{% if errors %}
		<div class="alert alert-error">
			<ul>
				{% for e in errors %}
					<li>{{e}}</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}

	<form action="" method="POST" class="form-horizontal">
		{% csrf_token %}


		<div class="form-group">
			<label class="col-sm-3 col-md-3 control-label">Name:</label>
			<div class="col-sm-9 col-md-7">
				<input type="text" name="name" class="form-control" value="{{object.name}}">
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 col-md-3 control-label">Short name:</label>
			<div class="col-sm-9 col-md-7">
				<input type="text" name="short_name" class="form-control" value="{{object.short_name}}" maxlength="8">
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 col-md-3 control-label">Short description:</label>
			<div class="col-sm-9 col-md-7">
				<input type="text" name="short_description" class="form-control" value="{{object.short_description}}" maxlength="180">
			</div>
		</div>

		<hr />

		<div class="form-group">
			<label class="col-sm-3 col-md-3 control-label">IPs allowed to connect<br /> to the radiovis server:</label>
			<div class="col-sm-9 col-md-7">
				<input type="text" name="ip_allowed" class="form-control" value="{{object.ip_allowed}}"><br />
				<small>
					A list of ip.ip.ip.ip/subnet, comma separted. E.g.: <i>127.0.0.1/32, 0.0.0.0/0, 192.168.42.0/24</i>
				</small>
			</div>
		</div>

		<hr />

		<div class="form-group">
			<label class="col-sm-3 col-md-3 control-label">Genres:</label>
			<div class="col-sm-9 col-md-7">
				<table class="table table-condensed" id="genre_list">
					<tr><th>Href (e.g.:  <i>urn:tva:metadata:cs:ContentCS:2004:3.1.1.11</i>)</th><th>Name (e.g: <i>Local/Regional</i>)</th><th></th></tr>

				{% for g in object.genres_list %}
					 <tr><td><input type="text" name="genrehref[]" value="{{g.href}}"></td><td><input type="text" name="genrename[]" value="{{g.name}}"></td><td><a href="#" onclick="return del_genre(this);">Remove</a></td></tr>
				{% endfor %}

				</table>
				<a class="btn btn-xs btn-default" onclick="$('#genre_list').append('<tr><td><input type=\'text\' class=\'form-control\' name=\'genrehref[]\'></td><td><input type=\'text\' class=\'form-control\' name=\'genrename[]\'></td><td><a href=\'#\' onclick=\'return del_genre(this);\'>Remove</a></td></tr>');">New genre</a>
			</div>
		</div>
		<label></label>


		<hr />

		<div class="form-group">
			<label class="col-sm-3 col-md-3 control-label">Enable RadioVIS:</label>
			<div class="col-sm-9 col-md-7">
				<input type="checkbox" name="radiovis_enabled" id="radiovis_enabled" class="form-control" value="radiovis_enabled" {% if object.radiovis_enabled %} checked="checked" {% endif %} />
			</div>
		</div>
		<div class="form-group" id="radiovis_enabled_options" {% if not object.radiovis_enabled %} style="display:none;" {% endif %}>
			<label class="col-sm-3 col-md-3 control-label">RadioVIS Service Uri:</label>
			<div class="col-sm-9 col-md-7">
				<input type="text" name="radiovis_service" id="radiovis_service" class="form-control" value="{{object.radiovis_service}}" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 col-md-3 control-label">Enable RadioEPG:</label>
			<div class="col-sm-9 col-md-7">
				<input type="checkbox" name="radioepg_enabled" id="radioepg_enabled" class="form-control" value="radioepg_enabled" {% if object.radioepg_enabled %} checked="checked" {% endif %} />
			</div>
		</div>
		<div class="form-group" id="radioepg_enabled_options" {% if not object.radioepg_enabled %} style="display:none;" {% endif %}>
			<label class="col-sm-3 col-md-3 control-label">RadioEPG Service Uri:</label>
			<div class="col-sm-9 col-md-7">
				<input type="text" name="radioepg_service" id="radioepg_service" class="form-control" value="{{object.radioepg_service}}" />
			</div>
		</div>
		{% if RADIOTAG_ENABLED %}
		<div class="form-group">
			<label class="col-sm-3 col-md-3 control-label">Enable RadioTAG:</label>
			<div class="col-sm-9 col-md-7">
				<input type="checkbox" name="radiotag_enabled" id="radiotag_enabled" class="form-control" value="radiotag_enabled" {% if object.radiotag_enabled %} checked="checked" {% endif %} />
			</div>
		</div>
		<div class="form-group" id="radiotag_enabled_options" {% if not object.radiotag_enabled %} style="display:none;" {% endif %}>
			<label class="col-sm-3 col-md-3 control-label">RadioTAG Service Uri:</label>
			<div class="col-sm-9 col-md-7">
				<input type="text" name="radiotag_service" id="radiotag_service" class="form-control" value="{{object.radiotag_service}}" />
			</div>
		</div>
		{% endif %}

		<hr />

		<div class="form-group">
			<div class="col-sm-4 col-sm-offset-3">
				<input type="submit" class="btn btn-primary" value="Save">
				<a href="{{ebuio_baseUrl}}stations/" class="btn btn-default">Cancel</a>
			</div>
		</div>


	</form>

	<script type="text/javascript">

		function del_genre(elem) {
			$(elem).parent().parent().remove();
			return false;
		}

		$('#radiovis_enabled').click(function () {
			$("#radiovis_enabled_options").toggle(this.checked);
			if(this.checked && $("#radiovis_service").val() == "") {
				$("#radiovis_service").val('{{default_radiovis_service}}');
			} else {
				$("#radiovis_service").val('');
			}
		});
		$('#radioepg_enabled').click(function () {
			$("#radioepg_enabled_options").toggle(this.checked);
			if(this.checked && $("#radioepg_service").val() == "") {
				$("#radioepg_service").val('{{default_radioepg_service}}')
			} else {
				$("#radioepg_service").val('');
			}
		});
		$('#radiotag_enabled').click(function () {
			$("#radiotag_enabled_options").toggle(this.checked);
			if(this.checked && $("#radiotag_service").val() == "") {
				$("#radiotag_service").val('{{default_radiotag_service}}')
			} else {
				$("#radiotag_service").val('');
			}
		});

	</script>


{% endblock %}

