{% extends "plugIt/base.html" %}
{% load plugit_tags %}

{% block title %}Stations :: RadioDNS{% endblock %}

{% block menubar %}
    {% plugitInclude "menubar" %}
{% endblock %}

{% block content %}

    {% block pageheader %}
    <div class="menubar">
        <div class="sidebar-toggler visible-xs">
            <i class="ion-navicon"></i>
        </div>
        <div class="page-title">
            {{ebuio_orga.name}} :: Stations
            <small class="hidden-xs">{% block pagesubtitle %} {% endblock %}</small>
        </div>
        <div id="page-functions" class="pull-right">
			{% block pagefunctions %}
				{% if ebuio_u.ebuio_orga_admin and serviceprovider %}
					<a href="{{ebuio_baseUrl}}stations/edit/-" class="btn btn-primary">Add a new station</a>
				{% endif %}
			{% endblock %}
		</div>
        <div id="page-search" class="pull-right">{% block pagesearch %} {% endblock %}</div>
    </div>
    {% endblock %}

	{% if saved %}
		<div class="alert alert-success" role="alert">
			Station has been saved
		</div>
	{% endif %}

	{% if deleted %}
		<div class="alert alert-success" role="alert">
			Station has been deleted
		</div>
	{% endif %}

	{% if passworded %}
		<div class="alert alert-success" role="alert">
			A new password has been generated
		</div>
	{% endif %}

	{% if not ebu_codops %}
        <div class="alert alert-danger" role="alert">
			<strong>No CODOPS has been defined for your organisation yet.</strong> <br />
            As this is a required global setting, please contact Mathias Coinchon (<a href="mailto:coinchon@ebu.ch">coinchon@ebu.ch</a>) to get started.
		</div>
    {% elif not serviceprovider %}
		 <div class="alert alert-warning" role="alert">
			<p><strong>No configuration for your organisation exists yet.</strong> <br />
			Start by creating the initial service provider configuration.
			 </p>
			<p><a href="{{ebuio_baseUrl}}serviceprovider/edit/{{serviceprovider.id}}{% if not s %}-{% endif %}" class="btn btn-primary">Edit</a></p>
		</div>
	{% else %}

	<div class="table-responsive">
	<table class="table table-striped table-hover table-condensed">
		<thead>
			<tr>
				<th></th>
				<th>Name</th>
				<th>Service Provider</th>
				<th>FQDN</th>
				<th>Services</th>
				{% if ebuio_u.ebuio_orga_admin %}
					<th colspan="2">RadioVIS Stomp</th>
				{% endif %}
				<th style="width: 200px;"></th>
			</tr>
		</thead>

		<tbody>
			{% for s in list %}
				<tr>
					<td>{% if s.default_logo_image_data %}<img style="height: 32px;width: 32px;" src="{{s.default_logo_image_data.public_url}}">
						{% else %}
						<a href="{{ebuio_baseUrl}}radioepg/logos/" class="btn btn-xs btn-primary">Set logo</a>
						{% endif %}
					</td>
					<td><strong>{{s.name}}</strong></td>
					<td>{% if s.service_provider_data %}
						{{s.service_provider_data.short_name}}
						{% else %}
						<span class="text-danger">
							<i class="ion-alert-circled"></i>
							No Service Provider linked<br />
							<a href="{{ebuio_baseUrl}}stations/linkserviceprovider/{{s.id}}" class="btn btn-xs btn-primary">Link now</a>
						</span>
						{% endif %}</td>
					<td>{% if s.service_provider_data %}{{s.fqdn}}{% endif %}</td>
					<td>
						<span id="vis-{{s.id}}"><i class="ion-load-c"></i></span><br />
						<span id="epg-{{s.id}}"><i class="ion-load-c"></i></span><br />
						{% if RADIOTAG_ENABLED %}<span id="tag-{{s.id}}"><i class="ion-load-c"></i></span>{% endif %}
					</td>
					{% if s.radiovis_enabled %}
					{% if ebuio_u.ebuio_orga_admin %}
					<td>Username: <br />Password:<br />Allowed IPs</td>
					<td>{{s.stomp_username}}<br />
						<span id="pwd-{{s.id}}" style="display:none;">{{s.random_password}}</span>
						<a href="#" id="pwd-btn-{{s.id}}" onclick="$('#pwd-{{s.id}}').toggle();$('#pwd-btn-{{s.id}}').toggle();return false;" class="btn btn-xs btn-default">Show password</a>
						<br />
						{{s.ip_allowed}}</td>
					{% endif %}
					{% else %}
					<td></td>
					<td></td>
					{% endif %}
					<td>
						{% if ebuio_u.ebuio_orga_admin %}
							<a href="{{ebuio_baseUrl}}stations/newpassword/{{s.id}}" class="btn btn-xs btn-warning" onclick="return confirm('Are you sure ?');">New password</a>
							<a href="{{ebuio_baseUrl}}stations/delete/{{s.id}}" class="btn btn-xs btn-danger" onclick="return confirm('Are you sure ?');">Delete</a>
							<a href="{{ebuio_baseUrl}}stations/edit/{{s.id}}" class="btn btn-xs btn-default">Edit</a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	</div>

    <script src='{{ebuio_baseUrl}}media/js/ajaxq.js'></script>
	<script type="text/javascript">
		function checkStation(id) {
			$.ajaxq("rdns-stationq", {
				url: '{{ebuio_baseUrl}}stations/check/' + id,
				dataType: 'json',
				success: function(data) {
					if (data.radiovis) {
						if(data.radiovis.enabled) {
							$('#vis-' + id).html(data.radiovis.fqdn);
							if(data.radiovis.isvalid) {
								$('#vis-' + id).addClass('text-success');
							}
						} else {
							$('#vis-' + id).addClass('text-muted');
							$('#vis-' + id).html('vis disabled');
						}
					} else {
						$('#vis-' + id).addClass('text-danger');
						$('#vis-' + id).html('missing vis information');
					}
					if (data.radioepg) {
						if(data.radioepg.enabled) {
							$('#epg-' + id).html(data.radioepg.fqdn);
							if(data.radioepg.isvalid) {
								$('#epg-' + id).addClass('text-success');
							}
						} else {
							$('#epg-' + id).addClass('text-muted');
							$('#epg-' + id).html('epg disabled');
						}
					} else {
						$('#epg-' + id).addClass('text-danger');
						$('#epg-' + id).html('missing epg information');
					}
					if (data.radiotag) {
						if(data.radiotag.enabled) {
							$('#tag-' + id).html(data.radiotag.fqdn);
							if(data.radiotag.isvalid) {
								$('#tag-' + id).addClass('text-success');
							}
						} else {
							$('#tag-' + id).addClass('text-muted');
							$('#tag-' + id).html('tag disabled');
						}
					} else {
						$('#tag-' + id).addClass('text-danger');
						$('#tag-' + id).html('missing tag information');
					}

				}
			});

			// Tool Tips
			$('[data-toggle="tooltip"]').tooltip({html: true});
		}

		{% for c in list %}
			checkStation({{c.id}});
		{% endfor %}

	</script>

	{% endif %}

{% endblock %}

