{% extends "plugIt/base.html" %}
{% load plugit_tags %}

{% block title %}Stations :: RadioDNS{% endblock %}

{% block menubar %}
    {% plugitInclude "menubar" %}
{% endblock %}

{% block content %}

    {% block pageheader %}
    <div class="menubar">
        <div class="sidebar-toggler visible-xs">
            <i class="ion-navicon"></i>
        </div>
        <div class="page-title">
            {{ebuio_orga.name}} :: Stations
            <small class="hidden-xs">{% block pagesubtitle %} {% endblock %}</small>
        </div>
        <div id="page-functions" class="pull-right">
			{% block pagefunctions %}
				{% if ebuio_u.ebuio_orga_admin %}
					<a href="{{ebuio_baseUrl}}stations/edit/-" class="btn btn-primary">Add a new station</a>
				{% endif %}
			{% endblock %}
		</div>
        <div id="page-search" class="pull-right">{% block pagesearch %} {% endblock %}</div>
    </div>
    {% endblock %}

	{% if saved %}
		<div class="alert alert-success" role="alert">
			Station has been saved
		</div>
	{% endif %}

	{% if deleted %}
		<div class="alert alert-success" role="alert">
			Station has been deleted
		</div>
	{% endif %}

	{% if passworded %}
		<div class="alert alert-success" role="alert">
			A new password has been generated
		</div>
	{% endif %}

	
	<div class="table-responsive">
	<table class="table table-striped table-hover table-condensed">
		<thead>
			<tr>
				<th>Name</th>
				<th>Service Provider</th>
				<th>FQDN</th>
				{% if ebuio_u.ebuio_orga_admin %}
					<th>Stomp</th>
					<th></th>
					<th></th>
				{% endif %}
				<th style="width: 200px;"></th>
			</tr>
		</thead>

		<tbody>
			{% for s in list %}
				<tr>
					<td><strong>{{s.name}}</strong></td>
					<td>{% if s.service_provider_data %}{{s.service_provider_data.name}}{% endif %}</td>
					<td></td>
					{% if ebuio_u.ebuio_orga_admin %}
					<td>Username: <br />Password:<br />Allowed IPs</td>
					<td>{{s.stomp_username}}<br />{{s.random_password}}<br />{{s.ip_allowed}}</td>
					<td></td>
					{% endif %}
					<td>
						{% if ebuio_u.ebuio_orga_admin %}
							<a href="{{ebuio_baseUrl}}stations/newpassword/{{s.id}}" class="btn btn-xs btn-warning" onclick="return confirm('Are you sure ?');">New password</a>
							<a href="{{ebuio_baseUrl}}stations/delete/{{s.id}}" class="btn btn-xs btn-danger" onclick="return confirm('Are you sure ?');">Delete</a>
							<a href="{{ebuio_baseUrl}}stations/edit/{{s.id}}" class="btn btn-xs btn-default">Edit</a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	</div>


{% endblock %}

