{% extends "base.html" %}

{% block title %}Channels :: RadioDNS{% endblock %}

{% block content %}

    {% block pageheader %}
    <div class="menubar">
        <div class="sidebar-toggler visible-xs">
            <i class="ion-navicon"></i>
        </div>
        <div class="page-title">
            Export to zone file
            <small class="hidden-xs">{% block pagesubtitle %} {% endblock %}</small>
        </div>
        <div id="page-functions" class="pull-right">
            {% block pagefunctions %}
                <a href="{% url 'channels:list' %}" class="btn btn-default">Back to the list</a>
        		<a href="{% url 'channels:export' %}?to=file" class="btn btn-primary">Download to file</a>
            {% endblock %}
        </div>
    </div>
    {% endblock %}

	<pre class="pre">{{export}}</pre>

{% endblock %}

