*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

RadioDns-PlugIt/config.py

.ropeproject

# Logfiles for VIS
*.log

# IDEA Pycharm and IntelliJ ignore
.idea

# Virtual Environment
venv
.DS_Store
/.env
