API_URL = '{{PLUGIT_API_URL}}'
SQLALCHEMY_URL = '{{SQLALCHEMY_URL}}'
API_SECRET = '{{API_SECRET}}'

# Amazon AWS
AWS_ACCESS_KEY = '{{AWS_ACCESS_KEY}}'
AWS_SECRET_KEY = '{{AWS_SECRET_KEY}}'

# Domain Name base for all services
DOMAIN = 'radio.ebu.io.'

# XSI
XSISERVING_ENABLED = True
XSISERVING_DOMAIN = 'epg.radio.local.ebu.io'

# Default Service URLs for RadioDNS Services
RADIOVIS_SERVICE_DEFAULT = 'vis.radio.ebu.io:61613'
RADIOEPG_SERVICE_DEFAULT = 'epg.radio.ebu.io:80'
RADIOTAG_SERVICE_DEFAULT = 'tag.radio.ebu.io:80'
RADIOTAG_ENABLED = False

RADIODNS_REQUIRED_IMAGESIZES = [(32, 32), (112, 32), (128, 128), (320, 240), (600, 600)]

DEBUG = True

PI_BASE_URL = '{{PI_BASE_URL}}'

PI_ALLOWED_NETWORKS = '{{PI_ALLOWED_NETWORKS}}'

# Flask Log
FLASK_LOG_PATH = '/home/ubuntu/logs/flask.log'
FLASK_LOG_SIZE = 1024 * 1024 # 1MB

SENTRY_DSN = '{{SENTRY_DSN}}'
