
API_URL = ""

SQLALCHEMY_URL = ""

API_SECRET = ""


DEBUG = True

PI_BASE_URL = '/'

PI_ALLOWED_NETWORKS = ['127.0.0.1/32']

# Flask Log
FLASK_LOG_PATH = '/home/ubuntu/logs/flask.log'
FLASK_LOG_SIZE = 1024 * 1024 # 1MB
