<div class="menu-section">
    <ul>
        <li><a href="{{ebuio_baseUrl}}">Home</a></li>
    </ul>
</div>
{% if ebuio_u.ebuio_orga_admin %}
<div class="menu-section">
    <h3>System</h3>
    <ul>
        <li><a href="{{ebuio_baseUrl}}system/">System Status</a></li>
    </ul>
</div>
{% endif %}
<div class="menu-section">
    <h3>RadioDNS</h3>
    <ul>
        <li><a href="{{ebuio_baseUrl}}serviceprovider/">Service Provider</a></li>
        <li><a href="{{ebuio_baseUrl}}stations/">My Stations</a></li>
        <li><a href="{{ebuio_baseUrl}}channels/">My Channels</a></li>
    </ul>
</div>
<div class="menu-section">
    <h3>RadioVIS</h3>
    <ul>
        <li><a href="{{ebuio_baseUrl}}radiovis/gallery/">Gallery</a></li>
        <li><a href="{{ebuio_baseUrl}}radiovis/channels/">Channels</a></li>
    </ul>
</div>
<div class="menu-section">
    <h3>RadioEPG</h3>
    <ul>
        <li><a href="{{ebuio_baseUrl}}radioepg/shows/{% if current_station_id %}?station_id={{current_station_id}}{% endif %}">Shows</a></li>
        <li><a href="{{ebuio_baseUrl}}radioepg/schedule/{% if current_station_id %}?station_id={{current_station_id}}{% endif %}">Schedule</a></li>
        <li><a href="{{ebuio_baseUrl}}radioepg/servicefollowing/{% if current_station_id %}?station_id={{current_station_id}}{% endif %}">Service following</a></li>
    </ul>
</div>
<div class="menu-section">
    <h3>Media</h3>
    <ul>
        <li><a href="{{ebuio_baseUrl}}serviceprovider/images/">Provider Images</a></li>
        <li><a href="{{ebuio_baseUrl}}radioepg/gallery/">Gallery</a></li>
        <li><a href="{{ebuio_baseUrl}}radioepg/logos/">Logos</a></li>
    </ul>
</div>
