<div class="menu-section">
    <h3>RadioDNS</h3>
    <ul>
        <li><a href="{{ebuio_baseUrl}}stations/">My Stations</a></li>
        <li><a href="{{ebuio_baseUrl}}channels/">My Channels</a></li>
        <li><a href="{{ebuio_baseUrl}}serviceprovider/">Service Provider</a></li>
    </ul>
</div>
<div class="menu-section">
    <h3>Services</h3>
    <ul>
        <li><a href="{{ebuio_baseUrl}}radioepg/shows/{% if current_station_id %}?station_id={{current_station_id}}{% endif %}"><small>EPG</small> Shows</a></li>
        <li><a href="{{ebuio_baseUrl}}radioepg/schedule/{% if current_station_id %}?station_id={{current_station_id}}{% endif %}"><small>EPG</small> Schedule</a></li>
        <li><a href="{{ebuio_baseUrl}}radioepg/logos/"><small>EPG</small> All Station Logos</a></li>
        <li><a href="{{ebuio_baseUrl}}radioepg/servicefollowing/{% if current_station_id %}?station_id={{current_station_id}}{% endif %}"><small>EPG</small> Service following</a></li>
        <li><a href="{{ebuio_baseUrl}}radiovis/channels/"><small>VIS</small> All Channels Images</a></li>
    </ul>
</div>
<div class="menu-section">
    <h3>Media</h3>
    <ul>
        <li><a href="{{ebuio_baseUrl}}serviceprovider/images/">Logo Images (Provider/EPG)</a></li>
        <li><a href="{{ebuio_baseUrl}}radiovis/gallery/">RadioVIS Gallery</a></li>

        {#<li><a href="{{ebuio_baseUrl}}radioepg/gallery/">RadioEPG Gallery</a></li>#}
    </ul>
</div>

{% if ebuio_u.ebuio_orga_admin %}
<div class="menu-section">
    <h3>System</h3>
    <ul>
        <li><a href="{{ebuio_baseUrl}}system/">System Status</a></li>
    </ul>
</div>
{% endif %}

<div class="menu-section">
    <h3><a href="{{ebuio_baseUrl}}terms/">Terms of Use</a></h3>
</div>