{% extends "base.html" %}
{% load static %}

{% block title %}System :: RadioDNS{% endblock %}

{% block content %}

    {% block pageheader %}
        <div class="menubar">
            <div class="sidebar-toggler visible-xs">
                <i class="ion-navicon"></i>
            </div>
            <div class="page-title">
                System Overview & Status
                <small class="hidden-xs">{% block pagesubtitle %} {% endblock %}</small>
            </div>
            <div id="page-functions" class="pull-right">
                {% block pagefunctions %}
                        <button
                                id="re-generate"
                                class="btn btn-primary"
                                onclick="reGenerateSPIFiles()"
                        >
                            Re-generate all files
                        </button>
                {% endblock %}</div>
            <div id="page-search" class="pull-right">{% block pagesearch %} {% endblock %}</div>
        </div>
    {% endblock %}


    <table class="table table-striped table-hover table-condensed">
        <tbody>
        <tr>
            <th style="width:200px;">Status</th>
            <td><span id="radiodns-system-status" class="label label-default">Querying</span></td>
        </tr>
        <tr>
            <th>Main Zone</th>
            <td><span id="radiodns-system-mainzone"><i class="ion-load-c"></i></span></td>
        </tr>
        <tr>
            <th>&nbsp;</th>
            <td><span id="radiodns-system-mainzonens"><i class="ion-load-c"></i></span></td>
        </tr>
        <tr>
            <th>Parent NS Entry</th>
            <td><span id="radiodns-system-parent"><i class="ion-load-c"></i></span></td>
        </tr>
        <tr>
            <th>&nbsp;</th>
            <td><span id="radiodns-system-parentns"><i class="ion-load-c"></i></span></td>
        </tr>
        <tr>
            <th>VIS Service</th>
            <td><span id="radiovis-service"><i class="ion-load-c"></i></span></td>
        </tr>
        <tr>
            <th>EPG Service</th>
            <td><span id="radioepg-service"><i class="ion-load-c"></i></span></td>
        </tr>
        <tr>
            <th>SPI Service</th>
            <td><span id="radiospi-service"><i class="ion-load-c"></i></span></td>
        </tr>
        <tr>
            <th>TAG Service</th>
            <td><span id="radiotag-service"><i class="ion-load-c"></i></span></td>
        </tr>
        </tbody>
    </table>

    <script src="{% static 'js/ajaxq.js' %}"></script>
    <script type="text/javascript">
        function checkSystem() {
            $.ajaxq("rdns-systemq", {
                url: "{% url 'system:check' %}",
                dataType: 'json',
                success: function (data) {
                    if (data.isvalid) {
                        $('#radiodns-system-status').html('Success');
                        $('#radiodns-system-status').removeClass('label-default');
                        $('#radiodns-system-status').addClass('label-success');
                    } else {
                        $('#radiodns-system-status').html('Failed');
                        $('#radiodns-system-status').removeClass('label-default');
                        $('#radiodns-system-status').addClass('label-danger');
                    }

                    if (data.mainzone) {
                        $('#radiodns-system-mainzone').html(data.mainzone.zone);
                        $('#radiodns-system-mainzone').addClass('text-success');
                        $('#radiodns-system-mainzonens').html(data.mainzone.ns);
                    } else {
                        $('#radiodns-system-mainzone').html('Missing');
                        $('#radiodns-system-mainzone').addClass('text-danger');
                    }

                    if (data.parentns) {
                        $('#radiodns-system-parent').html(data.parentns.entry);
                        $('#radiodns-system-parent').addClass('text-success');
                        $('#radiodns-system-parentns').html(data.parentns.value);
                    } else {
                        $('#radiodns-system-parent').html('Missing');
                        $('#radiodns-system-parent').addClass('text-danger');
                    }

                    if (data.services) {
                        $('#radiovis-service').html(data.services.vis.name + " <i class=\"ion-arrow-right-c\"></i> " + data.services.vis.ip);
                        $('#radiovis-service').addClass('text-success');
                        $('#radioepg-service').html(data.services.epg.name + " <i class=\"ion-arrow-right-c\"></i> " + data.services.epg.ip);
                        $('#radioepg-service').addClass('text-success');
                        $('#radiospi-service').html(data.services.spi.name + " <i class=\"ion-arrow-right-c\"></i> " + data.services.spi.ip);
                        $('#radiospi-service').addClass('text-success');
                        $('#radiotag-service').html(data.services.tag.name + " <i class=\"ion-arrow-right-c\"></i> " + data.services.tag.ip);
                        $('#radiotag-service').addClass('text-success');
                    } else {
                        $('#radiovis-service').html('Error');
                        $('#radiovis-service').addClass('text-danger');
                        $('#radioepg-service').html('Error');
                        $('#radioepg-service').addClass('text-danger');
                        $('#radiospi-service').html('Error');
                        $('#radiospi-service').addClass('text-danger');
                        $('#radiotag-service').html('Error');
                        $('#radiotag-service').addClass('text-danger');
                    }

                }
            });
        }

        checkSystem();
    </script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="application/javascript">

        function reGenerateSPIFiles() {
            if (window.confirm("This operation may take a long time (more than 5 minutes) to complete. " +
                "Do you want to proceed?")) {
                UtilitiesModule.prototype.request(`${ebuio_baseUrl}spi_generate_all`, 'GET');
                $("#re-generate-text-info").text("Command sent to worker!");
            }
        }
    </script>

{% endblock %}

