{% extends "base.html" %}

{% block title %}Service Provider :: RadioDNS{% endblock %}

{% block content %}
    {% block pageheader %}
    <div class="menubar">
        <div class="sidebar-toggler visible-xs">
            <i class="ion-navicon"></i>
        </div>
        <div class="page-title">
            {{request.user.current_organization.short_name}} :: Service Provider Configuration
        </div>
    </div>
    {% endblock %}
    {% block alerts %}
    {{ block.super }}
    {% endblock %}
	<form action="" method="POST" class="form-horizontal">
        {% csrf_token %}
        <h2>Names</h2>

		<div class="form-group">
            <label for="{{ form.short_name.auto_id }}" class="col-sm-3 col-md-3 control-label">Short Name (8 chars)</label>
            <div class="col-sm-9 col-md-7">
		        <input type="text" name="short_name" class="form-control" value="{% if form.short_name.value  %}{{form.short_name.value}}{% endif %}" maxlength="8">
                {{ form.short_name.errors }}
            </div>
        </div>

		<div class="form-group">
            <label for="{{ form.medium_name.auto_id }}" class="col-sm-3 col-md-3 control-label">Medium Name (16 chars)</label>
            <div class="col-sm-9 col-md-7">
		        <input type="text" name="medium_name" class="form-control" value="{% if form.medium_name.value %}{{form.medium_name.value}}{% endif %}" maxlength="16">
                {{ form.medium_name.errors }}
            </div>
		</div>

		<div class="form-group">
            <label for="{{ form.long_name.auto_id }}" class="col-sm-3 col-md-3 control-label">Long Name (128 chars)</label>
            <div class="col-sm-9 col-md-7">
		        <input type="text" name="long_name" class="form-control" value="{% if form.long_name.value %}{{form.long_name.value}}{% endif %}" maxlength="128">
                {{ form.long_name.errors }}
            </div>
        </div>

        <hr />

		<div class="form-group">
            <label for="{{ form.short_description.auto_id }}" class="col-sm-3 col-md-3 control-label">Short description (180 chars)</label>
            <div class="col-sm-9 col-md-7">
		        <input type="text" name="short_description" class="form-control" value="{% if form.short_description.value %}{{ form.short_description.value }}{% endif %}" maxlength="180">
                {{ form.short_description.errors }}
            </div>
        </div>

		<div class="form-group">
            <label for="{{ form.long_description.auto_id }}" class="col-sm-3 col-md-3 control-label">Long description (1200 chars)</label>
            <div class="col-sm-9 col-md-7">
		        <input type="text" name="long_description" class="form-control" value="{% if form.long_description.value %}{{form.long_description.value}}{% endif %}" maxlength="1200">
                 {{ form.long_description.errors }}
            </div>
        </div>

        <hr />

        <h2>Language</h2>

        <div class="form-group">
            <label for="{{ form.default_language.auto_id }}" class="col-sm-3 col-md-3 control-label">Default Language</label>
            <div class="col-sm-9 col-md-7">
                <select name="default_language" class="form-control" id="default_language">
                    {% for language in languages %}
                    <option {% if form.default_language.id == language.id %} selected {% endif %} value="{{ language.id }}">{{ language.iso }} - {{ language.name }}</option>
                    {% endfor %}
                </select>
                {{ form.default_language.errors }}
            </div>
        </div>

        <hr />

        <h2>Links</h2>

        <div class="form-group">
            <label for="{{ form.url_default.auto_id }}" class="col-sm-3 col-md-3 control-label">Default Url</label>
            <div class="col-sm-9 col-md-7">
		        <input type="text" name="url_default" class="form-control" value="{% if form.url_default.value %}{{form.url_default.value}}{% endif %}" maxlength="255">
                {{ form.url_default.errors }}
            </div>
        </div>



        <hr />

        <h2>Address</h2>

        <div class="form-group">
            <label for="{{ form.postal_name.auto_id }}" class="col-sm-3 col-md-3 control-label">Postal Name</label>
            <div class="col-sm-9 col-md-7">
                <input type="text" class="form-control" name="postal_name" id="postal_name" value="{% if form.postal_name.value %}{{form.postal_name.value}}{% endif %}"/>
                {{ form.postal_name.errors }}
            </div>
        </div>
        <div class="form-group">
            <label for="{{ form.postal_name.auto_id }}" class="col-sm-3 col-md-3 control-label">Street</label>
            <div class="col-sm-9 col-md-7">
                <input type="text" class="form-control" name="street" id="street" value="{% if form.street.value %}{{form.street.value}}{% endif %}"/>
                {{ form.street.errors }}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 col-md-3 control-label">ZIP, City</label>
            <div class="col-sm-9 col-md-7">
                <div class="row">

                    <div class="col-lg-4">
                        <input type="text" class="form-control pull-left" name="zipcode" id="zipcode" value="{% if form.zipcode.value %}{{form.zipcode.value}}{% endif %}"/>
                        {{ form.zipcode.errors }}
                    </div>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" name="city" id="city" value="{% if form.city.value %}{{form.city.value}}{% endif %}"/>
                        {{ form.city.errors }}
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="{{ form.location_country.auto_id }}" class="col-sm-3 col-md-3 control-label">Country</label>
            <div class="col-sm-9 col-md-7">
                <select class="form-control" name="location_country" id="location_country">
                    {% for country in countries %}
                    <option {% if form.location_country.id == country.id %} selected {% endif %} value="{{ country.id }}">{{ country.iso }} - {{ country.name }}</option>
                    {% endfor %}
                </select>
                {{ form.location_country.errors }}
            </div>
        </div>
        <div class="form-group">
            <label for="{{ form.phone_number.auto_id }}" class="col-sm-3 col-md-3 control-label">Phone Number</label>
            <div class="col-sm-9 col-md-7">
                <input type="text" class="form-control" name="phone_number" id="phone_number" value="{% if form.phone_number.value %}{{form.phone_number.value}}{% endif %}"/>
                <small>Format: +41-22-7172745</small>
                {{ form.phone_number.errors }}
            </div>
        </div>

        <h2>Keywords</h2>
        <div class="form-group">
            <label for="{{ form.keywords.auto_id }}" class="col-sm-3 col-md-3 control-label">Keywords</label>
            <div class="col-sm-9 col-md-7">
                <input type="text" class="form-control" name="keywords" id="keywords" value="{% if form.keywords.value %}{{form.keywords.value}}{% endif %}"/>
                {{ form.keywords.errors }}
            </div>
        </div>
        <hr />

        <div class="form-group">
			<div class="col-sm-4 col-sm-offset-3">
                <input type="submit" class="btn btn-primary" value="Save">
                <a href="{% url 'manager:details' %}" class="btn btn-default">Cancel</a>
            </div>
        </div>
	</form>
{% endblock %}

