{% extends "plugIt/base.html" %}
{% load plugit_tags %}

{% block title %}Stations :: RadioDNS{% endblock %}

{% block menubar %}
    {% plugitInclude "menubar" %}
    <link rel="stylesheet" type="text/css" href="{{ebuio_baseUrl}}media/css/clients.css">
{% endblock %}

{% block content %}

    {% block pageheader %}
        <div class="menubar">
            <div class="sidebar-toggler visible-xs">
                <i class="ion-navicon"></i>
            </div>
            <div class="page-title">
                {{ ebuio_orga.name }} :: My Clients
                <small class="hidden-xs">{% block pagesubtitle %} {% endblock %}</small>
            </div>
            <div id="page-functions" class="pull-right">
                {% block pagefunctions %}
                    {% if ebuio_u.ebuio_orga_admin and serviceprovider %}
                        <a
                                id="client_creation_toggle_button"
                                class="btn btn-primary"
                                onclick="ClientModule.prototype.toggleClientCreation()">
                            Add a new client
                        </a>
                    {% endif %}
                {% endblock %}
            </div>
        </div>
    {% endblock %}

    <div class="alert alert-error">
        <ul id="ajax_error_display">
        </ul>
    </div>

    <div id="client_operation_success" class="alert alert-success" role="alert" style="display: none;">
    </div>

    {% if not ebu_codops %}
        <div class="alert alert-danger" role="alert">
            <strong>No CODOPS has been defined for your organisation yet.</strong> <br/>
            As this is a required global setting, please contact Mathias Coinchon (<a href="mailto:coinchon@ebu.ch">coinchon@ebu.ch</a>)
            to get started.
        </div>
    {% elif not serviceprovider %}
        <div class="alert alert-warning" role="alert">
            <p><strong>No configuration for your organisation exists yet.</strong> <br/>
                Start by creating the initial service provider configuration.
            </p>
            <p><a href="{{ ebuio_baseUrl }}serviceprovider/edit/{{ serviceprovider.id }}{% if not s %}-{% endif %}"
                  class="btn btn-primary">Edit</a></p>
        </div>
    {% else %}

        <div class="table-responsive">
            <div class="dataTables_wrapper no-footer">
                <table id="radiodns-clients-table" class="display dataTable no-footer" cellspacing="0" width="100%">
                    <thead>
                    <tr role="row">
                        <th>Name</th>
                        <th>Email</th>
                        <th>Identifier</th>
                        <th style=" width: 150px;"></th>
                    </tr>
                    </thead>

                    <tbody id="clients_display">
                    <tr id="loading_tr">
                        <td>Loading...</td>
                        <td>Loading...</td>
                        <td>Loading...</td>
                        <td>Loading...</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div id="new_client" style="display: none">
            <hr>
            <h4>Add a new client</h4>
            <table
                    id="clients-table_new_client"
                    class="display dataTable no-footer"
                    $cellspacing="0"
                    width="100%"
            >
                <thead>
                <tr role="row">
                    <th>Name</th>
                    <th>Email</th>
                    <th>Identifier</th>
                    <th style="width: 150px;"></th>
                </tr>
                </thead>
                <form>
                    {% csrf_token %}
                    <tr role="row" class="odd">
                        <td class="sorting_1" valign="top">
                            <div class="validated_input_container">
                                <input id="client_name_new" name="name" type="text" class="form-control">
                                <div id="client_edit_error_display_name_new" class="error_message_container"></div>
                            </div>
                        </td>
                        <td class="sorting_1" valign="top">
                            <div class="validated_input_container">
                                <input id="client_email_new" name="email" type="email" class="form-control">
                                <div id="client_edit_error_display_email_new" class="error_message_container"></div>
                            </div>
                        </td>
                        <td class="sorting_1" valign="top">
                            <div style="display: flex;">
                                <div class="validated_input_container">
                                    <input id="client_identifier_new" name="identifier" type="text" class="form-control"
                                           style="margin-right: 5px">
                                    <div id="client_edit_error_display_identifier_new"
                                         class="error_message_container"></div>
                                </div>
                                <div class="btn_suggestion_container">
                                    <button
                                            id="new_client_identifier_suggestion"
                                            type="button"
                                            class="btn btn-sm btn-primary"
                                            onclick="ClientModule.prototype.makeIdentifierSuggestion();"
                                    >
                                        Suggest Identifier
                                    </button>
                                </div>
                            </div>
                        </td>
                        <div></div>
                        <td class="sorting_1" valign="top">
                            <button
                                    type="button"
                                    id="update_save_btn_new"
                                    class="btn btn-sm btn-primary"
                                    onclick="ClientModule.prototype.postClient()"
                                    disabled
                            >Submit
                            </button>
                        </td>
                    </tr>
                </form>
            </table>
        </div>
        <div>
            <hr>
            <p>
                When creating or updating a client keep the following in mind:
            </p>
            <ul>
                <li>The name of a client cannot be longer than 255 characters and cannot be empty.</li>
                <li>The email of a client cannot be longer than 255 characters, cannot be empty and has to be a valid
                    email.
                </li>
                <li>The client identifier can only be composed of alphanumerics and has to have a length in the range 16
                    to 128.
                </li>
            </ul>
        </div>

        <script src='{{ ebuio_baseUrl }}media/js/jquery.dataTables.min.js'></script>
        <script src='{{ ebuio_baseUrl }}media/js/visibility.js'></script>
        <script src='{{ ebuio_baseUrl }}media/js/inputs-validation.js'></script>
        <script src='{{ ebuio_baseUrl }}media/js/clients.js'></script>
        <script src='{{ ebuio_baseUrl }}media/js/utilities.js'></script>

    {% endif %}

{% endblock %}

