{% extends "base.html" %}

{% block title %}Station Logos :: RadioEPG{% endblock %}

{% block content %}

    {% block pageheader %}
    <div class="menubar">
        <div class="sidebar-toggler visible-xs">
            <i class="ion-navicon"></i>
        </div>
        <div class="page-title">
            RadioEPG: Station Logos
            <small class="hidden-xs">{% block pagesubtitle %} {% endblock %}</small>
        </div>
        <div id="page-functions" class="pull-right">{% block pagefunctions %} {% endblock %}</div>
        <div id="page-search" class="pull-right">{% block pagesearch %} {% endblock %}</div>
    </div>
    {% endblock %}
    {% block alerts %}
    {{ block.super }}
    {% endblock %}

        <style>
            /* TODO Temporarily Add due to https://github.com/twbs/bootstrap/issues/12593 */
            tbody.collapse.in {
                display: table-row-group;
            }
        </style>
        <table class="table table-striped table-hover table-condensed">
            <thead>
                <tr>
                    <th></th>
                    <th>Station</th>
                    <th>Logo</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {% for station in stations %}
                    <tr>
                        <td><img id="station-img-{{station.id}}" style="height: 32px;width: 32px; {% if not station.default_image.file %}display:none;{% endif %}"
                                 src="{{station.default_image.file.url}}">
                        </td>
                        <td><h4>{{station.name}}</h4></td>
                        <td>
                            <select id="logo_select" style="margin-bottom: 0px;" class="form-control"
                                    onchange="switch_default($(this).val(), $(this));">
                                <option value="{% url 'radioepg:set_logo' station.id 0 %}" {% if not station.default_image.id %} selected{% endif %}><i>Disabled</i></option>
                                {% for logo in logos %}
                                    <option value="{% url 'radioepg:set_logo' station.id logo.id %}" data- data-public_url="{{logo.file.url}}" {% if station.default_image.id == logo.id %}selected{% endif %}>{{logo.name}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td><button class="btn btn-default pull-right" type="button" data-toggle="collapse" data-target="#station-details-{{station.id}}" aria-expanded="false" aria-controls="collapseExample">
                              <i class="ion-chevron-down"></i>
                            </button>
                        </td>
                    </tr>
                    {% if station.radioepg_enabled %}
                    <tbody class="collapse" id="station-details-{{station.id}}">
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                For Directory Service Discovery on you Webpage, include the following in the head section of your webpages:
                                <pre>
                                <code class="language-html" data-lang="html">&lt;head&gt;
                                    &lt;link rel="radioepg" href="http://{{station.radioepg_service}}/radiodns/spi/3.1/SI.xml"&gt;
                                &lt;/head&gt;</code></pre>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                    {% endif %}

                {% endfor %}
            </tbody>
        </table>

        <script type="text/javascript">
            function switch_default( val, elemToBlink) {
                $.ajax({
                    url: val,
                    success: function(data) {
                        elemToBlink.css('backgroundColor', 'green');
                        elemToBlink.css('opacity', '0.25');
                        elemToBlink.animate({ opacity: 1 }, 500, function() {
                            elemToBlink.css('backgroundColor', '#ffffff');
                        } );
                        // Update inline image
                        if(data["logo_id"] == 0) {
                            $('#station-img-'+data["station_id"]).hide();
                        } else {
                            $('#station-img-'+data["station_id"]).show();
                            var selected = elemToBlink.find('option:selected');
                            var new_public_url = selected.data('public_url');
                            $('#station-img-'+data["station_id"]).attr("src", new_public_url);
                        }
                    }
                })
            }
        </script>

	    <hr style="visibility: hidden; clear: both;">

{% endblock %}

