{% load i18n static %}
<html lang="en">
<head>
    {% block meta %}
        {#  Meta used on a specific page. #}
        {#  use {{ block.super }} to avoid overwriting #}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block css %}
        {#  CSS used on a specific page. #}
        {#  use {{ block.super }} to avoid overwriting #}
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'css/ionicons.min.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'css/plugIt-standalone.css' %}" rel="stylesheet" media="screen">
    {% endblock %}

    {% block javascript %}
        {#  Javascript used on a specific page. #}
        {#  use {{ block.super }} to avoid overwriting #}
        <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% endblock %}
</head>
<body>


{% include "navbar.html" %}

<div class="row">
        <div class="col-md-2">
            {% include "sidebar.html" %}
        </div>
        <div class="col-md-8 col-md-offset-1">
            {% block content %}
                {% block pageheader %}
                {% endblock %}
                {% block alerts %}
                    {% include "alerts.html" %}
                {% endblock %}
                {% block body %}
                {% endblock %}
            {% endblock %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            {% block footer %}
                <p>&copy; EBU 2013 - 2020</p>
            {% endblock %}
        </div>
    </div>
</div>

<script type="text/javascript">
    $('[data-toggle="tooltip"]').tooltip();
</script>
</body>
</html>
