{% load static %}
{% if request.user.is_authenticated and request.user.active_organization %}
<div class="main-sidebar navbar" id="sidebar-flat">

    <div id="ebu-menulogo">
        <a href="/">
            <img id="ebu-menulogo-large" src="{% static 'images/ebu-tagline-black.png' %}">
            <img id="ebu-menulogo-small" src="{% static 'images/ebu-black.png' %}">
        </a>
    </div>


<!-- User -->
<div class="current-user">
    <a href="#" class="name">
        <img class="avatar" src="https://www.gravatar.com/avatar/d41d8cd98f00b204e9800998ecf8427e?d=blank"/>
        <span>
            {{request.user.first_name}}
            <i class="fa fa-chevron-down"></i>
        </span>
    </a>
    <ul class="menu">
        <li>
            <a href="/users/logout/">
                <i class="ion-log-out"></i>
                <span>Logout</span>
            </a>
        </li>


    </ul>
</div>
        <!-- OrgaMode Selector -->
    <div class="menu-section">
        <h3>Organization</h3>
        <ul>
            <li>
                <a> Select:
              <select onchange="window.location=$(this).val();">
                {% for organization in request.user.organizations_list %}
					<option value="{% url 'manager:SetOrganizationView' organization.id %}" {% if organization.id == request.user.current_organization.id %}selected{% endif %}>{{organization.medium_name}}</option>
				{% endfor %}
              </select>
                </a>
            </li>
        </ul>
    </div>
    <div class="menu-section">
        <h3>RadioDNS</h3>
        <ul>
            <li><a href="{% url 'manager:details' %}">Service Provider</a></li>
            <li><a href="{% url 'stations:list' %}">My Stations</a></li>
            <li><a href="{% url 'channels:list' %}">My Channels</a></li>
            <li><a href="{% url 'clients:list' %}">My Clients</a></li>
        </ul>
    </div>
    <div class="menu-section">
        <h3>Service & Program Info</h3>
        <ul>
            <li><a href="{% url 'manager:list_images' %}">Logo Image Repository</a></li>
            <li><a href="{% url 'radioepg:station_logos' %}">Station Logos</a></li>
            <li><a href="{% url 'radioepg:default_services' %}">Service following</a></li>
            <li><a href="{% url 'radioepg:default_schedule' %}">Calendar & Schedule (EPG)</a></li>
        </ul>
    </div>
    <div class="menu-section">
        <h3>RadioVIS SlideShow</h3>
        <ul>
            <li><a href="{% url 'radiovis:list_images' %}">SlideShow Image Repository</a></li>
            <li><a href="{% url 'radiovis:list_channels' %}">RadioVIS Channel Images</a></li>
        </ul>
    </div>
    <div class="menu-section">
        <h3>System</h3>
        <ul>
            <li><a href="{% url 'system:status' %}">System Status</a></li>
        </ul>
    </div>
    <div class="menu-section">
        <h3><a href="{% url 'common:terms' %}">Terms of Use</a></h3>
    </div>
</div>
{% endif%}
