{% extends "base.html" %}
{% block content %}

    <h3>Terms of Use</h3>
    <p>Access to and use of the ebu.io website and services, which includes RadioDNS Manager, (the "Website") are provided by
    the European Broadcasting Union, an association duly established under Swiss law, located at L'Ancienne-Route 17A,
    1218 Grand-Saconnex (Geneva) Switzerland (the "EBU") subject to the following terms:</p>

    <hr />
    <h4>General</h4>
    <p>By using this Website you agree to be legally bound by these Terms of Use, which take effect immediately following
    your first use of the Website. These Terms of Use shall apply to all users of the Website, including users who are
    also contributors of information, text, pictures, graphics, photographs or other materials on the Website
    (the "Contributions"). If you do not agree to be legally bound by all the following terms, please do not access
    and/or use the Website.</p>

    <hr />
    <h4>Disclaimers</h4>
    <p>The EBU shall not be liable for any damages, including indirect or consequential damages, or any damages arising
    from use or loss of use, data or profits, whether in contract, negligence or other action, arising from or in
    connection with your use of the Website.</p>
    <p>EBU content, including the information, names, images, pictures, logos and icons regarding or relating to the EBU,
    its products and services (or to third party products and services), is provided to you "as is" for your information
    and personal use only without any representations or any kind of warranty (whether express or implied by law),
    including the implied warranties of satisfactory quality, fitness for a particular purpose, non-infringement,
    compatibility and security. The EBU tries to ensure that the Website is as up to date as possible, but the EBU
    cannot give a guarantee of the accuracy and currency of information provided on it.</p>
    <p>The EBU does not warrant that functions contained in EBU content will be uninterrupted or free of error, that defects
    will be corrected, or that the EBU or the server that makes it available are free of viruses or bugs.</p>

    <hr />
    <h4>Privacy Policy</h4>
    <p>Personal data collected by the EBU shall be treated in accordance with the Swiss Federal Law on data protection of 19 June 1992.</p>
    <p>The EBU reserves the right to collect, process and analyse the personal data for research and statistical purposes
    (number and frequency of visits to the Website, number of visitors, users'/contributors profiles, pages visited,
    etc.) and to publish or disseminate such data vis-à-vis third parties in a form which does not allow the
    persons concerned to be identified.</p>
    <p>Through appropriate technical and organizational procedures the EBU shall ensure that your personal data are
    protected against any non-authorized processing. In particular, the EBU shall make its best efforts to protect
    such data against the risk of accidental or unauthorized destruction, accidental loss, technical errors,
    falsification, theft or illegal use, modification, copying, and unauthorized access or other processing.</p>
    <p>The EBU shall, moreover, make its best efforts to take all necessary measures to ensure the confidentiality of
    data communicated via the Internet. You hereby recognize, however, that it is not possible to guarantee absolute
    security in the transfer of data via the Internet. Consequently, personal data are communicated to the EBU under
    your full and sole responsibility. The EBU cannot be held responsible for any incident which may occur during the
    transmission of the data by you, such as loss of data or piracy of the communication by a third party.</p>
    <p>For services proposed by a third party, via a link available on the Website, the third party is solely responsible
    for collecting and processing personal data communicated by you. The EBU shall neither collect nor preserve the
    data thereby provided by you.</p>
    <p>You have the right to ask for the details of your personal data to be corrected or deleted, by submitting to the
    EBU a signed and dated request by post, together with a copy of official proof of identity.</p>

    <hr />
    <h4>Final clauses</h4>
    <p>The EBU may change these Terms of Use at any time by posting changes on-line. Please review these Terms of Use
    regularly to ensure that you are aware of any such changes made by the EBU. Your continued use of the Website
    after changes have been posted on the Website implies that you agree to be legally bound by these terms as
    updated or amended.</p>
    <p>If any of these terms are determined to be illegal, invalid or otherwise unenforceable by reason of the laws
    of any state or country in which these terms are intended to be effective, then to the extent and within the
    jurisdiction in which that term is illegal, invalid or unenforceable it shall be severed and deleted from these
    Terms; the remaining Terms shall remain in full force and effect.</p>
    <p>These Terms of Use (including our Privacy Policy and other notices posted on this Website) have been drawn up
    in English. Although translations into other languages of any of such texts may be available, you agree
    that in the event of any conflict between the English version and any other translations, the English
    version shall prevail.</p>
    <p>All terms shall be governed by, and interpreted in accordance with, Swiss law.
    The courts of the Canton of Geneva, Switzerland shall have exclusive jurisdiction.</p>

{% endblock %}

