{% extends "base.html" %}

{% block title %}Login :: RadioDNS Manager{% endblock %}

{% block content %}
    {% block pageheader %}
        <div class="menubar">
            <div class="sidebar-toggler visible-xs">
                <i class="ion-navicon"></i>
            </div>
            <div class="page-title">
                Login
            </div>
        </div>
    {% endblock %}
    <div class="row">

      <div class="col-sm-6">
        <div class="card text-center">
          <div class="card-body">
            <h3 class="card-title">Login using EBU-SSO</h3>
<br>
            <a class="btn btn-primary" href="{% url 'social:begin' 'saml' %}?idp=ebu">Login with EBU</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <form class="form-horizontal" method="post" action="">
        {% csrf_token %}
            	<div class="form-group">
                    <div class="col-sm-offset-3">
			            <h3>Login using password</h3>
                    </div>
		        </div>
		        <div class="form-group">
                    {{ form.username.errors }}
                    <label for="{{ form.username.auto_id }}" class="col-sm-3 col-md-3 control-label">Login</label>
                    <div class="col-sm-9 col-md-7">
	        	        <input type="text" name="username" class="form-control" placeholder="Username" value="{% if form.username.value  %}{{ form.username.value }}{% endif %}">
                    </div>
                </div>
	        	<div class="form-group">
                    {{ form.password.errors }}
                    <label for="{{ form.password.auto_id }}" class="col-sm-3 col-md-3 control-label">Password</label>
                    <div class="col-sm-9 col-md-7">
	        	        <input type="password" name="password" class="form-control" placeholder="Password" value="{% if form.username.value  %}{{ form.username.value }}{% endif %}" >
                    </div>
                </div>
                <div>
                    {{ form.non_field_errors }}
                </div>
                <div class="form-group">
	        		<div class="col-sm-4 col-sm-offset-3">
                        <input type="submit" class="btn btn-primary" value="Login">
                    </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

