{% extends "plugIt/base.html" %}
{% load plugit_tags %}

{% block title %}Gallery :: RadioVIS :: RadioDNS{% endblock %}

{% block content %}

	{% plugitInclude "menubar" %}

	<h3>Edit a picture</h3>

	{% if errors %}
		<div class="alert alert-error">
			<ul>
				{% for e in errors %}
					<li>{{e}}</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}

	<form action="" method="POST" enctype="multipart/form-data">
		{% csrf_token %}

		<label>Name</label>
		<input type="text" name="name" value="{{object.name}}">

		<label>Radio text</label>
		<input type="text" name="radiotext" value="{{object.radiotext}}">

		<label>Associated Weblink</label>
		<input type="text" name="radiolink" value="{{object.radiolink}}">

		<label>Photo</label>
		<input type="file" name="file"> {% if object.clean_filename %}(Current: {{object.clean_filename}}){% endif %}
		<br /><small>PNG or JPEG, 320x240</small>

		<span style="float: right;">
			<a href="{{ebuio_baseUrl}}radiovis/gallery/" class="btn btn-default">Cancel</a>
			<input type="submit" class="btn btn-primary" value="Save">
		</span>

	</form>

	<hr style="visibility: hidden; clear: both;">

{% endblock %}

