{% extends "plugIt/base.html" %}
{% load plugit_tags %}

{% block title %}Gallery :: RadioVIS :: RadioDNS{% endblock %}

{% block menubar %}
    {% plugitInclude "menubar" %}
{% endblock %}

{% block content %}

    {% block pageheader %}
    <div class="menubar">
        <div class="sidebar-toggler visible-xs">
            <i class="ion-navicon"></i>
        </div>
        <div class="page-title">
            {% if object.clean_filename %}Edit a{% else %}New{% endif %} picture
            <small class="hidden-xs">{% block pagesubtitle %} {% endblock %}</small>
        </div>
        <div id="page-functions" class="pull-right">{% block pagefunctions %} {% endblock %}</div>
        <div id="page-search" class="pull-right">{% block pagesearch %} {% endblock %}</div>
    </div>
    {% endblock %}

	{% if errors %}
		<div class="alert alert-error">
			<ul>
				{% for e in errors %}
					<li>{{e}}</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}

	<form action="" method="POST" enctype="multipart/form-data" class="form-horizontal">
		{% csrf_token %}

		<div class="form-group">
			<label class="col-sm-3 col-md-3 control-label">Name:</label>
			<div class="col-sm-9 col-md-7">
				<input type="text" class="form-control" name="name" value="{{object.name}}">
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 col-md-3 control-label">Radio text:</label>
			<div class="col-sm-9 col-md-7">
				<input type="text" class="form-control" name="radiotext" value="{{object.radiotext}}">
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 col-md-3 control-label">Associated Weblink:</label>
			<div class="col-sm-9 col-md-7">
				<input type="text" class="form-control" name="radiolink" value="{{object.radiolink}}">
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 col-md-3 control-label">Photo:</label>
			<div class="col-sm-9 col-md-7">
				<input type="file" class="form-control" name="file">
				{% if object.clean_filename %}(Current: {{object.clean_filename}}){% endif %}
				<br /><small>PNG or JPEG. Please upload an image of size 320x240.</small>
			</div>
		</div>

		<hr />

		<div class="form-group">
			<div class="col-sm-4 col-sm-offset-3">
				<input type="submit" class="btn btn-primary" value="Save">
				<a href="{{ebuio_baseUrl}}radiovis/gallery/" class="btn btn-default">Cancel</a>
			</div>
		</div>

	</form>


{% endblock %}

