{% extends "plugIt/base.html" %}
{% load plugit_tags %}

{% block title %}Gallery :: RadioVIS :: RadioDNS{% endblock %}

{% block menubar %}
    {% plugitInclude "menubar" %}
{% endblock %}

{% block content %}

	{% block pageheader %}
    <div class="menubar">
        <div class="sidebar-toggler visible-xs">
            <i class="ion-navicon"></i>
        </div>
        <div class="page-title">
            RadioVIS :: Gallery
            <small class="hidden-xs">{% block pagesubtitle %} {% endblock %}</small>
        </div>
        <div id="page-functions" class="pull-right">{% block pagefunctions %}
            {% if ebuio_u.ebuio_orga_admin %}
                    <a href="{{ebuio_baseUrl}}radiovis/gallery/edit/-" class="btn btn-primary">Add a new image</a>
            {% endif %}
            {% endblock %}</div>
        <div id="page-search" class="pull-right">{% block pagesearch %} {% endblock %}</div>
    </div>
    {% endblock %}

	{% if saved %}
		<div class="alert alert-success" role="alert">
			Picture has been saved
		</div>
	{% endif %}

	{% if deleted %}
		<div class="alert alert-success" role="alert">
			Picture has been deleted
		</div>
	{% endif %}

	<div class="table-responsive">
	<table id="radiovis-img-table" class="display" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th>Name</th>
				<th>Text</th>
				<th>URL</th>
				<th>Image</th>
				<th style="width: 150px;"></th>
			</tr>
		</thead>

		<tbody>
			{% for s in list %}
				<tr>
					<td>{{s.name}}</td>
					<td>{{s.radiotext}}</td>
					<td>{{s.radiolink}}</td>
					<td><img class="tooltipme" src="{{s.public_url}}" width="64" heigh="48" data-placement="top" data-original-title="<img src='{{s.public_url}}' width='320' height='240'>"></td>
					<td style="text-align:right;">
						{% if ebuio_u.ebuio_orga_admin %}
							<a href="{{ebuio_baseUrl}}radiovis/gallery/delete/{{s.id}}" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure ?');">Delete</a>
							<a href="{{ebuio_baseUrl}}radiovis/gallery/edit/{{s.id}}" class="btn btn-sm btn-default">Edit</a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

    <script src='{{ebuio_baseUrl}}media/js/jquery.dataTables.min.js'></script>
    <link rel="stylesheet" type="text/css" href="{{ebuio_baseUrl}}media/css/jquery.dataTables.min.css" />
	<script type="text/javascript">

		$(document).ready(function() {
		    $('.tooltipme').tooltip({html: true});
            $('#radiovis-img-table').DataTable( {
                    "paging":   false,
                    "ordering": true,
                    "info":     true,
                    columnDefs: [ { orderable: false, targets: [3,4] },
                                        { "bSearchable": false, "aTargets": [3,4] } ]
                } );
        } );
	</script>


{% endblock %}

