{% extends "base.html" %}
{% load static %}
{% block title %}Channels :: RadioVIS{% endblock %}


{% block content %}

    {% block pageheader %}
    <div class="menubar">
        <div class="sidebar-toggler visible-xs">
            <i class="ion-navicon"></i>
        </div>
        <div class="page-title">
            RadioVIS: Channels
            <small class="hidden-xs">{% block pagesubtitle %} {% endblock %}</small>
        </div>
        <div id="page-functions" class="pull-right">{% block pagefunctions %} {% endblock %}</div>
        <div id="page-search" class="pull-right">{% block pagesearch %} {% endblock %}</div>
    </div>
    {% endblock %}
    {% block alerts %}
    {{ block.super }}
    {% endblock %}
	<div class="table-responsive">
	<table id="radiodns-channel-table" class="display" cellspacing="0" width="100%">

		<thead>
			<tr>
				<th>Station</th>
                <th>Type</th>
				<th>Name</th>
				<th>Topic</th>
                <th></th>
				<th>Default value</th>
				<th style="width: 180px;"></th>
			</tr>
		</thead>

		<tbody>
			{% for channel in channels %}
				<tr>
					<td><strong>{{channel.station.name}}</strong></td>
                    <td>{{channel.type_id}}</td>
					<td>{{channel.name}}</td>
					<td>{{channel.topic}}</td>
                    <td><img id="channel-img-{{channel.id}}" height="24" width="32"style="height: 32px;width: 32px; {% if not channel.default_image.file %}display:none;{% endif %}"
                                 src="{{channel.default_image.file.url}}">
					<td>
                            <div class="form-inline">
							<select id="image_select" style="margin-bottom: 0px;" class="form-control"
                                    onchange="switch_default($(this).val(), $(this));">
                                <option value="{% url 'radiovis:set_image' channel.id 0 %}" {% if not channel.default_image.id %} selected{% endif %}><i>Disabled</i></option>
                                {% for image in images %}
                                    <option value="{% url 'radiovis:set_image' channel.id image.id %}" data- data-public_url="{{image.file.url}}" {% if channel.default_image.id == image.id %}selected{% endif %}>{{image.name}}</option>
                                {% endfor %}
                            </select>
                            </div>
					</td>
					<td>
						<a href="{% url 'radiovis:channel_logs' channel.id %}" class="btn btn-default" title="Logs"><i class="ion-ios-list"></i> Logs</a>
                        <a href="#" onclick="play_topic('{{channel.topic_no_slash}}', '{{channel.station.name}}', '{{channel.name}}' );" class="btn btn-default" title="Ajax player"><i class="ion-play"></i>  Player</a>

					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

    <div id="player_modal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">RadioVIS player</h4>
          </div>
          <div id="player_modal_body" class="modal-body">
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.min.css'}" />
	<script type="text/javascript">
        function toggle_button(id) {
            var nval = $('#select-'+id).val();
            var cval = $('#currentvalue-'+id).val();
            if(nval != cval) {
                $('#button-'+id).show();
            } else {
                $('#button-'+id).hide();
            }
        }
		function switch_default( val, elemToBlink) {
                $.ajax({
                    url: val,
                    success: function(data) {
                        elemToBlink.css('backgroundColor', 'green');
                        elemToBlink.css('opacity', '0.25');
                        elemToBlink.animate({ opacity: 1 }, 500, function() {
                            elemToBlink.css('backgroundColor', '#ffffff');
                        } );
                        // Update inline image
                        if(data["imageo_id"] == 0) {
                            $('#channel-img-'+data["channel_id"]).hide();
                        } else {
                            $('#channel-img-'+data["channel_id"]).show();
                            var selected = elemToBlink.find('option:selected');
                            var new_public_url = selected.data('public_url');
                            $('#channel-img-'+data["channel_id"]).attr("src", new_public_url);
                        }
                    }
                })
         }

        function play_topic(topic, stationname, channel) {
            if(false) {
                var popupUrl = "http://ebu.io{{ebuio_baseUrl}}radiovis/channels/player/?topic="+topic+"&stationname="+stationname+"&name="+channel;
                play_popup(popupUrl);
            } else {
                var modalUrl = "{{ebuio_baseUrl}}radiovis/channels/playermodal/?topic="+topic+"&stationname="+stationname+"&name="+channel;
                $.ajax({
                    url: modalUrl
                }).success(function (data) {
                    $('#player_modal').html(data);
                    $('#player_modal').modal('show');
                });
            }
        }
        function play_popup(url) {
            newwindow=window.open(url,'name','height=400,width=450');
            if (window.focus) {newwindow.focus()}
            return false;
        }

        function closetopic(data) {
            $('#player_modal').modal('hide');
        }

        $(document).ready(function() {
            $('#radiodns-channel-table').DataTable( {
                    "paging":   false,
                    "ordering": true,
                    "info":     true,
                    columnDefs: [ { orderable: false, targets: [4,5,6] },
                                    { "bSearchable": false, "aTargets": [ 4,5,6 ] }]
                } );
        } );

	</script>

	<hr style="visibility: hidden; clear: both;">
    </div>
{% endblock %}
