{% extends "base.html" %}

{% block title %}Channels :: RadioVIS{% endblock %}

{% block content %}

    {% block pageheader %}
    <div class="menubar">
        <div class="sidebar-toggler visible-xs">
            <i class="ion-navicon"></i>
        </div>
        <div class="page-title">
            RadioVIS: Channel {{channel.topic}}: Logs
            <small class="hidden-xs">{% block pagesubtitle %} {% endblock %}</small>
        </div>
        <div id="page-functions" class="pull-right">{% block pagefunctions %} {% endblock %}</div>
        <div id="page-search" class="pull-right">{% block pagesearch %} {% endblock %}</div>
    </div>
    {% endblock %}

	<table class="table table-striped table-hover table-condensed">
		<thead>
			<tr>
				<th>Channel</th>
				<th>Message</th>
				<th>Headers</th>
				<th>Date of reception</th>
			</tr>
		</thead>

		<tbody>
			{% for log in logs %}
				<tr>
					<td>{{log.topic}}</td>
					<td>{{log.body}}</td>
					<td>{{log.headers}}</td>
					<td>{{log.reception_date}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<hr style="visibility: hidden; clear: both;">

{% endblock %}

