{% extends "base.html" %}
{% load static %}

{% block title %}Station :: {{ station.name }}{% endblock %}

{% block content %}

    {% block pageheader %}
        <div class="menubar">
            <div class="sidebar-toggler visible-xs">
                <i class="ion-navicon"></i>
            </div>
            <div class="page-title">
                {{ request.user.active_organization.medium_name }} :: <a href="{% url 'stations:list' %}">Stations</a> :: {{ station.name }}
                <small class="hidden-xs">{% block pagesubtitle %} {% endblock %}</small>
            </div>
            <div id="page-functions" class="pull-right">
                {% block pagefunctions %}
                        <a href="{% url 'stations:edit' station.id %}" class="btn btn-primary">Edit</a>
                        <a href="{% url 'stations:delete' station.id %}" class="btn btn-danger" onclick="return confirm('Are you sure ?');">Delete</a>
                {% endblock %}
            </div>
            <div id="page-search" class="pull-right">{% block pagesearch %} {% endblock %}</div>
        </div>
    {% endblock %}
    {% block alerts %}
    {{ block.super }}
    {% endblock %}
    <ul class="nav nav-tabs">
        {% for instance in instances %}
            <li class="nav-item">
                {% if instance.client == None %}
                    <a id="nav_tab_0" class="nav-link" href="">default</a>
                {% else %}
                    <a id="nav_tab_{{ instance.client.id }}" class="nav-link" href="">{{ instance.client.name }}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <div role="tabpanel">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="details">
                {% for instance in instances %}
                <div id="tab_wrapper_{% if instance.client == None %}0{% else %}{{ instance.client.id }}{% endif %}" style="display: none;">
                    <div class="row">
                        <div class="col-md-7">
                            <h3>Current configuration:</h3>

                            <div class="table-responsive">
                                <table class="table table-striped table-hover table-condensed">
                                    <tbody>
                                    <tr>
                                        <th>Short Name</th>
                                        <td>{{ instance.short_name }}</td>
                                    </tr>
                                    <tr>
                                        <th>Medium Name</th>
                                        <td>{{ instance.medium_name }}</td>
                                    </tr>
                                    <tr>
                                        <th>Long Name</th>
                                        <td>{{ instance.long_name }}</td>
                                    </tr>
                                    <tr>
                                        <th>Short Description</th>
                                        <td>{{ instance.short_description }}</td>
                                    </tr>
                                    <tr>
                                        <th>Default Url</th>
                                        <td>
                                            {% if instance.url_default %}
                                                <a href="{{ instance.url_default }}"
                                                   target="_blank">{{ instance.url_default }}</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Default Language</th>
                                        <td>{{ instance.default_language }}</td>
                                    </tr>
                                    <tr>
                                        <th>Postal Address</th>
                                        <td>{% if instance.postal_name %}{{ instance.postal_name }}{% endif %}<br/>
                                            {% if instance.street %}{{ instance.street }}{% endif %}<br/>
                                            {% if instance.city %}{{ instance.city }}{% endif %}{% if instance.zipcode %}, {{ instance.zipcode }}{% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Country</th>
                                        {% if instance.epg_country %}
                                            <td>{{ instance.epg_country }}</td>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <th>Phone Number</th>
                                        <td>{% if instance.phone_number %}{{ instance.phone_number }}{% endif %}</td>
                                    </tr>
                                    <tr>
                                        <th>SMS</th>
                                        <td>{% if instance.sms_description %} {{ instance.sms_description }}
                                            : {% endif %}
                                            {% if instance.sms_number %}
                                                <a href="{{ instance.sms_number }}">Send {{ instance.epg_sms }}
                                                    to {{ instance.sms_number }}</a>{% endif %}</td>
                                    </tr>
                                    <tr>
                                        <th>E-Mail</th>
                                        <td>{% if instance.email_description %}{{ instances.email_description }}
                                            : {% endif %}
                                            {% if instance.epg_email %}
                                                <a href="{{ instances.epg_email }}">{{ instances.email_address }}</a>{% endif %}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {% if station.default_image and instance.client == None %}
                            <div class="col-md-4 col-md-offset-1">
                                <h3>Current station logo:</h3>
                                <div class="row">
                                    <div class="col-md-12">
                                        <img style="width: 100%; max-width:600px;"
                                             id="station-img-{{ station.id }}"
                                             src="{{ station.default_image.scaled600x600.url }}">
                                    </div>
                                    <div class="col-md-12">
                                        <h4>Change logo</h4>
                                        <select id="logo_select" style="margin-bottom: 0px;" class="form-control"
                                                onchange="switch_default($(this).val(), $(this));">
                                            <option value="{% url 'radioepg:set_logo' %}?station_id={{station.id}}&logo_id=0" {% if not station.default_image.id %} selected{% endif %}><i>Disabled</i></option>
                                            {% for logo in images %}
                                                <option value="{% url 'radioepg:set_logo' %}?station_id={{station.id}}&logo_id={{logo.id}}" data- data-public_url="{{logo.file.url}}" {% if station.default_image.id == logo.id %}selected{% endif %}>{{logo.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <hr/>
                    {% if instance.client == None %}
                    <div class="row">
                        <h3>Services:</h3>
                        <div class="table-responsive">
                            <table class="table table-striped table-hover table-condensed">
                                <tbody>
                                <tr>
                                    <th style="width:250px;">Status:</th>
                                    <td><span id="radiodns-station-status"
                                              class="label label-default">Loading</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>FQDN:</th>
                                    <td>{% if station.service_provider_data %}{{ station.fqdn }}{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>VIS Service Details:</th>
                                    <td><span id="vis-{{ station.id }}">{% if station.radiovis_service %}
                                        <small>VIS</small> {{ station.radiovis_service }}{% endif %}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>RadioVIS Credentials:</th>
                                    <td>
                                        {% if station.radiovis_enabled %}
                                            <table>
                                                <tr>
                                                    <td>Username:</td>
                                                    <td>{{ station.stomp_username }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Password:</td>
                                                    <td><span id="pwd-{{ cs.1.id }}"
                                                              style="display:none;">{{ station.random_password }}</span>
                                                        <a href="#" id="pwd-btn-{{ station.id }}"
                                                           onclick="$('#pwd-{{ station.id }}').toggle();$('#pwd-btn-{{ station.id }}').toggle();return false;"
                                                           class="btn btn-xs btn-default">Show password</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Allowed IPs</td>
                                                    <td>{{ station.ip_allowed }}</td>
                                                </tr>
                                            </table>
                                        {% else %}
                                            <small>VIS service disabled</small>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>SPI Service Details:</th>
                                    <td>
                                        {% if station.radioepg_enabled %}
                                        <span id="epg-{{ station.id }}">
                                                <small>EPG</small>
                                                {{ station.radioepg_service }}
                                        </span><br/>
                                        <span id="spi-{{ station.id }}">
                                                <small>SPI</small>
                                                {{ station.radiospi_service }}
                                        </span>
                                        {% else %}
                                        <span id="epg-{{ station.id }}">
                                                <small>EPG epg disabled</small>
                                        </span><br/>
                                        <span id="spi-{{ station.id }}">
                                                <small>SPI spi disabled</small>
                                        </span>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Program Information Enabled:</th>
                                    <td>
                                        <span id="epgpi-{{ station.id }}">
                                        {% if station.radioepgpi_enabled %}
                                            <small>ENABLED</small>
                                        {% else %}
                                            <small>DISABLED</small>
                                        {% endif %}
                                    </span>
                                    </td>
                                </tr>
                                {% if RADIOTAG_ENABLED %}
                                    <tr>
                                        <th>TAG Service</th>
                                        <td><span id="tag-{{ station.id }}">{% if station.radiotag_service %}
                                            <small>TAG</small> {{ station.radiotag_service }}{% endif %}</span>
                                        </td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endif %}
                </div>
            {% endfor %}
            </div>
            </div>
            </div>
                    <script src="{% static 'js/ajaxq.js' %}"></script>
                    <script src="{% static 'js/visibility.js' %}"></script>
                    <script type="text/javascript">
                        function switch_default( val, elemToBlink) {
                            $.ajax({
                                url: val,
                                success: function(data) {
                                    elemToBlink.css('backgroundColor', 'green');
                                    elemToBlink.css('opacity', '0.25');
                                    elemToBlink.animate({ opacity: 1 }, 500, function() {
                                        elemToBlink.css('backgroundColor', '#ffffff');
                                    } );
                                    // Update inline image
                                    if(data["logo_id"] == 0) {
                                        $('#station-img-'+data["station_id"]).hide();
                                    } else {
                                        $('#station-img-'+data["station_id"]).show();
                                        var selected = elemToBlink.find('option:selected');
                                        var new_public_url = selected.data('public_url');
                                        $('#station-img-'+data["station_id"]).attr("src", new_public_url);
                                    }
                                }
                            })
                        }
                    </script>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            const clientsIds = [];
                            {% for instance in instances %}
                               {% if instance.client == None %}
                               clientsIds.push(0);
                               {% else %}
                               clientsIds.push({{instance.client.id}});
                               {% endif %}
                            {% endfor %}
                            VisibilityModule.prototype.init(0, clientsIds);
                        });

                    </script>
{% endblock %}

