{% extends "base.html" %}
{% load i18n static %}
{% block title %}Stations :: RadioDNS{% endblock %}

{% block content %}

    {% block pageheader %}
        <div class="menubar">
            <div class="sidebar-toggler visible-xs">
                <i class="ion-navicon"></i>
            </div>
            <div class="page-title">
                {{ request.user.active_organization.medium_name }} :: <a href="{% url 'stations:list' %}">Stations</a> :: Edit a station
                <small class="hidden-xs">{% block pagesubtitle %} {% endblock %}</small>
            </div>
            <div id="page-functions" class="pull-right">{% block pagefunctions %} {% endblock %}</div>
            <div id="page-search" class="pull-right">{% block pagesearch %} {% endblock %}</div>
        </div>
    {% endblock %}
    {% block alerts %}
    {{ block.super }}
    {{ci.2.errors}}
    {% endblock %}


    <ul class="nav nav-tabs" id="nav-tab-display">
        {% for ci in client_instance_forms %}
            <li id="nav_li_{{ ci.0.id }}" class="nav-item">
                <a id="nav_tab_{{ ci.0.id }}" class="nav-link" href="" style="margin:0; display: inline-flex">
                    {{ ci.0.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <form id="stations_form" action="" method="POST" class="form-horizontal">
        {% csrf_token %}
        {% for ci in client_instance_forms %}
            <div id="tab_wrapper_{{ ci.0.id }}">
                <div style="margin-bottom: 10px;">
                    <div class="row-centered">
                        <div id="dot_grp_{{ ci.0.id }}_name" class="dot"></div>
                        <h2 style="display: inline-block;">Names</h2>
                        <button
                                id="reset-override-name-btn_{{ ci.0.id }}"
                                name="reset-override-btn_{{ ci.0.id }}"
                                style="display: none; margin: 0 0 -15px 15px;"
                                type="button"
                                class="btn btn-default btn-sm btn-default btn-sm"
                        >
                            Reset override
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-md-3 control-label">Name:</label>
                    <div class="col-sm-9 col-md-7">
                        <input type="text" name="{{ ci.0.id }}-name" id="station-name_{{ ci.0.id }}"
                               class="form-control"
                               value="{% if ci.2.name.value %}{{ci.2.name.value}}{% endif %}"><br/>
                        <small>Technical Description for usernames and RadioDNS Naming.</small>
                        {{ ci.2.name.errors }}
                    </div>
                </div>
                    <div class="form-group" id="station-name-change-warning_{{ ci.0.id }}"
                         style="display:none;">
                        <div class="col-sm-9 col-md-7 col-sm-offset-3 alert alert-danger" role="alert">
                            <p><strong>Changing the Station's name is not recommended as this will require
                                manual DNS changes.</strong> <br/>
                                Please contact Mathias Coinchon (<a href="mailto:coinchon@ebu.ch">coinchon@ebu.ch</a>)
                                for further information</p>
                        </div>
                    </div>

                <hr/>

                <div class="form-group">
                    <label class="col-sm-3 col-md-3 control-label">Short name (8 chars)</label>
                    <div class="col-sm-9 col-md-7">
                        <input type="text" name="{{ ci.0.id }}-short_name" id="short_name_{{ ci.0.id }}"
                               class="form-control"
                               value="{% if ci.2.short_name.value %}{{ci.2.short_name.value}}{% endif %}" maxlength="8">
                        {{ci.2.short_name.errors}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-md-3 control-label">Medium name (16 chars)</label>
                    <div class="col-sm-9 col-md-7">
                        <input type="text" name="{{ ci.0.id }}-medium_name" id="medium_name_{{ ci.0.id }}"
                               class="form-control"
                               value="{% if ci.2.medium_name.value %}{{ci.2.medium_name.value}}{% endif %}" maxlength="16">
                        {{ci.2.medium_name.errors}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-md-3 control-label">Long name (128 chars)</label>
                    <div class="col-sm-9 col-md-7">
                        <input type="text" name="{{ ci.0.id }}-long_name" id="long_name_{{ ci.0.id }}"
                               class="form-control"
                               value="{% if ci.2.long_name.value %}{{ci.2.long_name.value}}{% endif %}"
                               maxlength="128">
                        {{ci.2.long_name.errors}}
                    </div>
                </div>

                <hr/>

                <div class="form-group">
                    <label class="col-sm-3 col-md-3 control-label">Short description (180 chars)</label>
                    <div class="col-sm-9 col-md-7">
                        <input type="text" name="{{ ci.0.id }}-short_description"
                               id="short_description_{{ ci.0.id }}"
                               class="form-control"
                               value="{% if ci.2.short_description.value %}{{ci.2.short_description.value}}{% endif %}" maxlength="180">
                        {{ci.2.short_description.errors}}
                    </div>
                </div>


                <hr/>

                <div style="margin-bottom: 10px;">
                    <div class="row-centered">
                        <div id="dot_grp_{{ ci.0.id }}_language" class="dot"></div>
                        <h2 style="display: inline-block;">Language</h2>
                        <button
                                id="reset-override-language-btn_{{ ci.0.id }}"
                                name="reset-override-btn_{{ ci.0.id }}"
                                style="display: none; margin: 0 0 -15px 15px;"
                                type="button"
                                class="btn btn-default btn-sm"
                        >
                            Reset override
                        </button>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 col-md-3 control-label"></label>
                    <div class="col-sm-9 col-md-7">
                        <button type="button" id="copyLanguageButton_{{ ci.0.id }}" data-loading-text="Loading..."
                                class="btn btn-default btn-sm" autocomplete="off">
                            Same as Service Provider
                        </button>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 col-md-3 control-label">Default Language</label>
                    <div class="col-sm-9 col-md-7">
                        <select name="{{ ci.0.id }}-default_language" class="form-control"
                                id="default_language_{{ ci.0.id }}" >
                                {% for language in languages %}
                                <option {% if ci.2.default_language.id == language.id %} selected {% endif %} value="{{ language.id }}">{{ language.iso }} - {{ language.name }}</option>
                                {% endfor %}
                        </select>
                        {{ci.2.default_language.errors}}
                    </div>
                </div>

                <hr/>

                <div style="margin-bottom: 10px;">
                    <div class="row-centered">
                        <div id="dot_grp_{{ ci.0.id }}_links" class="dot"></div>
                        <h2 style="display: inline-block;">Links</h2>
                        <button
                                id="reset-override-links-btn_{{ ci.0.id }}"
                                name="reset-override-btn_{{ ci.0.id }}"
                                style="display: none; margin: 0 0 -15px 15px;"
                                type="button"
                                class="btn btn-default btn-sm">
                            Reset override
                        </button>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 col-md-3 control-label">Default Url:</label>
                    <div class="col-sm-9 col-md-7">
                        <input id="default_url_{{ ci.0.id }}" type="text" name="{{ ci.0.id }}-url_default"
                               class="form-control"
                               value="{% if ci.2.default_url.value %}{{ci.2.default_url.value}}{% endif %}"
                               maxlength="255">
                        {{ci.2.url_default.errors}}
                    </div>
                </div>
                <hr/>


                <div style="margin-bottom: 10px;">
                    <div class="row-centered">
                        <div id="dot_grp_{{ ci.0.id }}_address" class="dot"></div>
                        <h2 style="display: inline-block;">Address</h2>
                        <button
                                id="reset-override-address-btn_{{ ci.0.id }}"
                                name="reset-override-btn_{{ ci.0.id }}"
                                style="display: none; margin: 0 0 -15px 15px;"
                                type="button"
                                class="btn btn-default btn-sm"
                        >
                            Reset override
                        </button>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-3 col-md-3 control-label"></label>
                    <div class="col-sm-9 col-md-7">
                        <button type="button" id="copyAddressButton_{{ ci.0.id }}" data-loading-text="Loading..."
                                class="btn btn-default btn-sm" autocomplete="off">
                            Same as Service Provider
                        </button>
                        <button type="button" id="keepNameButton_{{ ci.0.id }}" data-loading-text="Loading..."
                                class="btn btn-default btn-sm"
                                autocomplete="off">
                            Keep Channel Name
                        </button>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 col-md-3 control-label">Postal Name</label>
                    <div class="col-sm-9 col-md-7">
                        <input type="text" class="form-control" name="{{ ci.0.id }}-postal_name"
                               id="postal_name_{{ ci.0.id }}"
                               value="{% if ci.2.postal_name.value %}{{ci.2.postal_name.value}}{% endif %}"/>
                    </div>
                    {{ci.2.postal_name.errors}}
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-md-3 control-label">Street</label>
                    <div class="col-sm-9 col-md-7">
                        <input type="text" class="form-control" name="{{ ci.0.id }}-street"
                               id="street_{{ ci.0.id }}"
                               value="{% if ci.2.street.value %}{{ci.2.street.value}}{% endif %}"/>
                    {{ci.2.street.errors}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-md-3 control-label">ZIP, City</label>
                    <div class="col-sm-9 col-md-7">
                        <div class="row">
                            <div class="col-lg-4">
                                <input type="text" class="form-control pull-left" name="{{ ci.0.id }}-zipcode"
                                       id="zipcode_{{ ci.0.id }}"
                                       value="{% if ci.2.zipcode.value %}{{ci.2.zipcode.value}}{% endif %}"/>
                                {{ci.2.zipcode.errors}}
                            </div>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" name="{{ ci.0.id }}-city"
                                       id="city_{{ ci.0.id }}"
                                       value="{% if ci.2.city.value %}{{ci.2.city.value}}{% endif %}"/>
                                {{ci.2.city.errors}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-md-3 control-label">Country</label>
                    <div class="col-sm-9 col-md-7">
                        <select class="form-control" name="{{ ci.0.id }}-location_country"
                                id="location_country_{{ ci.0.id }}" >
                                {% for country in countries %}
                                <option {% if ci.2.location_country.id == country.id %} selected {% endif %} value="{{ country.id }}">{{ country.iso }} - {{ country.name }}</option>
                                {% endfor %}
                        </select>
                        {{ci.2.location_country.errors}}
                    </div>
                </div>
                <hr/>
                <div style="margin-bottom: 10px;">
                    <div class="row-centered">
                        <div id="dot_grp_{{ ci.0.id }}_contact" class="dot"></div>
                        <h2 style="display: inline-block;">Contact</h2>
                        <button
                                id="reset-override-contact-btn_{{ ci.0.id }}"
                                name="reset-override-btn_{{ ci.0.id }}"
                                style="display: none; margin: 0 0 -15px 15px;"
                                type="button"
                                class="btn btn-default btn-sm"
                        >
                            Reset override
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-md-3 control-label">Phone Number</label>
                    <div class="col-sm-9 col-md-7">
                        <input type="text" class="form-control" name="{{ ci.0.id }}-phone_number"
                               id="phone_number_{{ ci.0.id }}"
                               value="{% if ci.2.phone_number.value %}{{ci.2.phone_number.value}}{% endif %}"/>
                        {{ci.2.phone_number.errors}}
                        <small>Format: +41-22-7172745</small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-md-3 control-label">SMS</label>
                    <div class="col-sm-9 col-md-7">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon-sms-number_{{ ci.0.id }}">Number</span>
                            <input type="text" class="form-control" name="{{ ci.0.id }}-sms_number"
                                   id="sms_number_{{ ci.0.id }}"
                                   value="{% if ci.2.sms_number.value %}{{ci.2.sms_number.value}}{% endif %}" aria-describedby="basic-addon-sms-number"/>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon-sms-body_{{ ci.0.id }}">Body</span>
                            <input type="text" class="form-control" name="{{ ci.0.id }}-sms_body"
                                   id="sms_body_{{ ci.0.id }}"
                                   value="{% if ci.2.sms_body.value %}{{ci.2.sms_body.value}}{% endif %}"
                                   aria-describedby="basic-addon-sms-body"/>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"
                                  id="basic-addon-sms-descr_{{ ci.0.id }}">Description</span>
                            <input type="text" class="form-control" name="{{ ci.0.id }}-sms_description"
                                   id="sms_description_{{ ci.0.id }}"
                                   value="{% if ci.2.sms_description.value %}{{ci.2.sms_description.value}}{% endif %}" aria-describedby="basic-addon-sms-descr"/>
                        </div>
                        <small>Example: "Send 'STATION_A ' to 406" where 406 is the number, 'STATION_A' is the body. As
                            description use something like "Contact the Studio".
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-md-3 control-label">E-Mail</label>
                    <div class="col-sm-9 col-md-7">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon-email-address_{{ ci.0.id }}">E-Mail</span>
                            <input type="text" class="form-control" name="{{ ci.0.id }}-email_address"
                                   id="email_address_{{ ci.0.id }}"
                                   value="{% if ci.2.email_address.value %}{{ci.2.email_address.value}}{% endif %}" aria-describedby="basic-addon-email-address"/>
                            {{ci.2.email_address.errors}}
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"
                                  id="basic-addon-email-descr_{{ ci.0.id }}">Description</span>
                            <input type="text" class="form-control" name="{{ ci.0.id }}-email_description"
                                   id="email_description_{{ ci.0.id }}"
                                   value="{% if ci.2.email_description.value %}{{ci.2.email_description.value}}{% endif %}" aria-describedby="basic-addon-email-descr"/>
                            {{ci.2.email_description.errors}}
                        </div>
                    </div>
                </div>
                <hr/>

                <div style="margin-bottom: 10px;">
                    <div class="row-centered">
                        <div id="dot_grp_{{ ci.0.id }}_genres" class="dot"></div>
                        <h2 style="display: inline-block;">Genres</h2>
                        <button
                                id="reset-override-genres-btn_{{ ci.0.id }}"
                                name="reset-override-btn_{{ ci.0.id }}"
                                style="display: none; margin: 0 0 -15px 15px;"
                                type="button"
                                class="btn btn-default btn-sm"
                        >
                            Reset override
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 col-md-3 control-label">Genres:</label>
                    <div class="col-sm-9 col-md-7">
                        <select class="form-control" name="{{ ci.0.id }}-genres"
                                id="genres_{{ ci.0.id }}" >
                                        <option value="">--</option>
                                        <option value="3.1.1">News (PTy 1 - News)</option>
                                        <option value="3.1.1.11">Local/Regional</option>
                                        <option value="">--</option>
                                        <option value="3.6">Other Music (PTy 15 - Other Music)</option>
                                        <option value="3.6.1">Classical music</option>
                                        <option value="3.6.1.5">Light Classical music (PTy 13 - Light Classical)
                                        </option>
                                        <option value="3.6.1.2">Serious Classical (PTy 14 - Serious Classical)</option>
                                        <option value="3.6.2">Jazz (PTy 24 - Jazz Music)</option>
                                        <option value="3.6.3">Background music</option>
                                        <option value="3.6.3.2">Easy Listening (PTy 12 - EL)</option>
                                        <option value="3.6.3.5">Oldies (PTy 27 - Oldies)</option>
                                        <option value="3.6.4">Pop-rock (PTy 11 - Rock)</option>
                                        <option value="3.6.4.1">Pop (PTy 10 - Pop)</option>
                                        <option value="3.6.4.11">Seasonal/Holiday</option>
                                        <option value="3.6.4.14">Rock</option>
                                        <option value="3.6.4.14.2">Metal</option>
                                        <option value="3.6.4.17">Singer/Songwriter</option>
                                        <option value="3.6.5">Blues/RnB/Soul/Gospel/Spiritual</option>
                                        <option value="3.6.6">Country and Western (PTy 25 - Country Music)</option>
                                        <option value="3.6.7">Rap/Hip Hop/Reggae</option>
                                        <option value="3.6.8">Electronic/Club/Urban/Dance/DJ</option>
                                        <option value="3.6.8.3">Techno/Industrial</option>
                                        <option value="3.6.8.4">House/Techno House</option>
                                        <option value="3.6.9">World/Traditional/Folk (PTy 26/28 - National/Folk Music)
                                        </option>
                                        <option value="3.6.10">Hit-Chart/Song Requests</option>
                                        <option value="">--</option>
                                        <option value="1.2">Information (PTy 3 - Information)</option>
                                        <option value="2.1.4">Documentary (PTy 29 - Documentary)</option>
                                        <option value="2.1.8">Phone-In (PTy 21 - PhoneIn)</option>
                                        <option value="3.1">Non-fiction (PTy 9 - Varied)</option>
                                        <option value="3.1.1.6">National/Politics</option>
                                        <option value="3.1.1.12">Traffic</option>
                                        <option value="3.1.1.13">Weather forecasts (PTy 16 - Weather)</option>
                                        <option value="3.1.1.14">Service information</option>
                                        <option value="3.1.1.16">Current Affairs (PTy 2 - Current Affairs)</option>
                                        <option value="3.1.2.1">Religious/Philisophies (PTy 20 - Religion)</option>
                                        <option value="3.1.3.2">Social (PTy 19 - Social Affairs)</option>
                                        <option value="3.1.3.5">Finance (PTy 17 - Finance)</option>
                                        <option value="3.1.3.6">Education (PTy 5 - Education)</option>
                                        <option value="3.1.4">Arts and Media (PTy 7 - Culture)</option>
                                        <option value="3.1.6">Sciences (PTy 8 - Science)</option>
                                        <option value="3.2">Sports (PTy 4 - Sport)</option>
                                        <option value="3.3">Leisure (PTy 23 - Leisure)</option>
                                        <option value="3.3.5">Travel (PTy 22 - Travel)</option>
                                        <option value="3.4">Fiction (PTy 6 - Drama)</option>
                                        <option value="3.6.13">Spoken</option>
                                        <option value="4.2.1">Children (PTy 18 - Childrens Programmes)</option>
                        </select>
                    </div>
                </div>
        {% if ci.0.id == 0 %}
                <hr>
                    <div style="margin-bottom: 10px;">
                        <div class="row-centered">
                            <h2 style="display: inline-block;">Services</h2>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 col-md-3 control-label">Enable RadioVIS Services:</label>
                        <div class="col-sm-9 col-md-7">
                            <input type="checkbox" name="station-radiovis_enabled"
                                   id="radiovis_enabled_{{ ci.0.id }}"
                                   class="form-control"
                                   {% if station_form.radiovis_enabled.value %}checked="checked" {% endif %}/>
                            {{station_form.radiovis_enabled.errors}}
                        </div>
                    </div>
                    <div id="radiovis_enabled_options_{{ ci.0.id }}" {% if not station_form.radiovis_enabled.value %}
                         style="display:none;" {% endif %}>
                        <div class="form-group">
                            <label class="col-sm-3 col-md-3 control-label">RadioVIS SlideShow Service Uri:</label>
                            <div class="col-sm-9 col-md-7">
                                <input type="text" name="station-radiovis_service"
                                       id="radiovis_service_{{ ci.0.id }}"
                                       class="form-control"
                                       value="{% if station_form.radiovis_service.value %}{{station_form.radiovis_service.value}}{% endif %}"/>
                                {{station_form.radiovis_service.errors}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 col-md-3 control-label">IPs allowed to connect<br/> to the radiovis
                                server:</label>
                            <div class="col-sm-9 col-md-7">
                                <input id="ip_allowed_{{ ci.0.id }}" type="text" name="station-ip_allowed"
                                       class="form-control"
                                       value="{% if station_form.ip_allowed.value %}{{station_form.ip_allowed.value}}{% endif %}"><br/>
                                <small>
                                    A list of ip.ip.ip.ip/subnet, comma separted. E.g.: <i>127.0.0.1/32, 0.0.0.0/0,
                                    192.168.42.0/24</i>
                                </small>
                                {{station_form.ip_allowed.errors}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 col-md-3 control-label">Enable Service and Program Information
                            (SPI):</label>
                        <div class="col-sm-9 col-md-7">
                            <input type="checkbox" name="station-radioepg_enabled"
                                   id="radioepg_enabled_{{ ci.0.id }}"
                                   class="form-control"
                                   {% if station_form.radioepg_enabled.value %}checked="checked" {% endif %}/>
                            {{station_form.radioepg_enabled.errors}}
                        </div>
                    </div>
                    <div class="form-group" id="radioepg_enabled_options_{{ ci.0.id }}"
                            {% if not station_form.radioepg_enabled.value %}
                         style="display:none;" {% endif %}>
                        <label class="col-sm-3 col-md-3 control-label">RadioEPG Service Uri:</label>
                        <div class="col-sm-9 col-md-7">
                            <input type="text" name="station-radioepg_service"
                                   id="radioepg_service_{{ ci.0.id }}"
                                   class="form-control"
                                   value="{% if station_form.radioepg_service.value %}{{station_form.radioepg_service.value}}{% endif %}"/>
                            {{station_form.radioepg_service.errors}}
                        </div>
                    </div>
                    <div class="form-group" id="radiospi_enabled_options_{{ ci.0.id }}"
                           {% if not station_form.radioepg_enabled.value %}
                         style="display:none;" {% endif %}>
                        <label class="col-sm-3 col-md-3 control-label">RadioSPI Service Uri:</label>
                        <div class="col-sm-9 col-md-7">
                            <input type="text" name="station-radiospi_service"
                                   id="radiospi_service_{{ ci.0.id }}"
                                   class="form-control"
                                   value="{% if station_form.radiospi_service.value %}{{station_form.radiospi_service.value}}{% endif %}"/>
                            {{station_form.radiospi_service.errors}}
                        </div>
                    </div>
                    <div class="form-group" id="radioepgpi_enabled_options_{{ ci.0.id }}"
                           {% if not station_form.radioepg_enabled.value %}
                         style="display:none;" {% endif %}>
                        <label class="col-sm-3 col-md-3 control-label">Enable Program Information (EPG - PI):</label>
                        <div class="col-sm-9 col-md-7">
                            <input type="checkbox" name="station-radioepgpi_enabled"
                                   id="radioepgpi_enabled_{{ ci.0.id }}"
                                   class="form-control"
                                   {% if station_form.radioepgpi_enabled.value %}checked="checked" {% endif %}/>
                            {{station_form.radioepgpi_enabled.errors}}
                        </div>
                    </div>
        {% endif %}
                <hr>

            </div>
        {% endfor %}
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-3">
                <button type="submit" class="btn btn-primary"
                        value="Save">Save
                </button>
                <button type="button" onclick="{% url 'stations:list' %}"
                        class="btn btn-default">Cancel
                </button>
            </div>
        </div>


    </form>
    <script src="{% static 'js/utilities.js' %}"></script>
    <script src="{% static 'js/visibility.js' %}"></script>
    <script src="{% static 'js/stations/edit.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            const module = StationModuleEdit.prototype;
            module.numberOfExistingDefaultGenre = {{ cs.0.1.genres_list|length }};
            {% for cs in client_instance_forms %}
                {% if cs.1.id and forloop.counter0 != 0 %}
                    module.onEditMode[{{ cs.0.id }}] = true;
                {% endif %}
                {% if cs.1.id %}
                    module.stationsIds[{{ cs.0.id }}] = {{ cs.1.id }};
                {% endif %}
                module.clientsIds.push({{ cs.0.id }});
            {% endfor %}

            module.init();

            VisibilityModule.prototype.init(
                0,
                module.clientsIds,
                module.updateTab
            );

            let defaultLanguage = "";
            {% for cs in client_instance_forms %}
                defaultLanguage = $('#default_language_{{ cs.0.id }}').attr('cval');
                if (defaultLanguage !== "") {
                    $('#default_language_{{ cs.0.id }}').val(defaultLanguage);
                } else {
                    $('#default_language_{{ cs.0.id }}').val($('#default_language_0').attr('cval'));
                }
                module.attachEventsListenerToTab(
                    {{ cs.0.id }},
                    {
                        id: {% if cs.2.id %} {{ cs.1.id }} {% else %} null {% endif %},
                        short_name: {% if cs.1.short_name %} true {% else %} false {% endif %},
                        medium_name: {% if cs.1.medium_name %} true {% else %} false {% endif %},
                        long_name: {% if cs.1.long_name %} true {% else %} false {% endif %},
                        short_description: {% if cs.1.short_description %} true {% else %} false {% endif %},
                    },
                    {
                        postal_name: '{{ organization.postal_name }}',
                        street: '{{ organization.street }}',
                        zipcode: '{{ organization.zipcode }}',
                        city: '{{ organization.city }}',
                        location_country: '{{ organization.location_country }}',
                        default_language: '{{ organization.default_language }}',
                    },
                    '{{ organization.radiovis_service }}',
                    '{{ organization.radioepg_service }}',
                    '{{ organization.radiospi_service }}',
                    '{{ organization.radiotag_service }}',
                );
            {% endfor %}
        });
    </script>
{% endblock %}

