{% extends "plugIt/base.html" %}
{% load plugit_tags %}

{% block title %}Gallery :: RadioEPF :: RadioDNS{% endblock %}

{% block menubar %}
    {% plugitInclude "menubar" %}
{% endblock %}

{% block content %}

    {% block pageheader %}
    <div class="menubar">
        <div class="sidebar-toggler visible-xs">
            <i class="ion-navicon"></i>
        </div>
        <div class="page-title">
            {% if object.clean_filename %}Edit a{% else %}New{% endif %} picture
            <small class="hidden-xs">{% block pagesubtitle %} {% endblock %}</small>
        </div>
        <div id="page-functions" class="pull-right">{% block pagefunctions %} {% endblock %}</div>
        <div id="page-search" class="pull-right">{% block pagesearch %} {% endblock %}</div>
    </div>
    {% endblock %}

	{% if errors %}
		<div class="alert alert-error">
			<ul>
				{% for e in errors %}
					<li>{{e}}</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}

	<form action="" method="POST" enctype="multipart/form-data" class="form-horizontal">
		{% csrf_token %}

		<div class="form-group">
			<label class="col-sm-3 col-md-3 control-label">Name:</label>
			<div class="col-sm-9 col-md-7">
				<input id="name" type="text" class="form-control" name="name" value="{{object.name}}">
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 col-md-3 control-label">Photo:</label>
			<div class="col-sm-9 col-md-7">
				<input id="img_file_input" type="file" class="form-control" name="file">
				{% if object.clean_filename %}(Current: {{object.clean_filename}}){% endif %}
				<br /><small>PNG or JPEG. Please upload an initial logo of minimum size 600x600. Logo will be resized to {% for w in sizes %} {{w.0}}x{{w.1}} {% endfor %}.<br />
				You can upload different sizes later when editing the image.</small>
			</div>
		</div>
		{% if object.id %}
		<div class="form-group">
			<label class="col-sm-3 col-md-3 control-label">Replace a particular size:</label>
			<div class="col-sm-9 col-md-7">
				<input type="radio" name="replace_size" value="" checked> All
				<br />
				{% for w in sizes %}
					<input type="radio" name="replace_size" value="{{w.0}}x{{w.1}}"> {{w.0}}x{{w.1}}
					<br />
				{% endfor %}
			</div>
		</div>
		{% endif %}

		<hr />

		<div class="form-group">
			<div class="col-sm-4 col-sm-offset-3">
				<input id="img_save" type="submit" class="btn btn-primary" value="Save" disabled>
				<a href="{{ebuio_baseUrl}}serviceprovider/images/" class="btn btn-default">Cancel</a>
			</div>
		</div>

	</form>

	<hr style="visibility: hidden; clear: both;">

    <script type="text/javascript">
        $(document).ready(function() {
            const saveButton = $("#img_save");
            const fileInput = $("#img_file_input");
            const nameInput = $("#name");

            function updateSaveButton() {
                saveButton.prop('disabled', (nameInput.val().length === 0) || (fileInput.val().length === 0));
            }
            updateSaveButton();

            fileInput.change(function(){
                updateSaveButton();
            });

            nameInput.change(function(){
                updateSaveButton();
            });
        });

    </script>

{% endblock %}

