{% extends "plugIt/base.html" %}
{% load plugit_tags %}

{% block title %}Service Provider :: RadioDNS :: Images{% endblock %}

{% block menubar %}
    {% plugitInclude "menubar" %}
{% endblock %}

{% block content %}

    {% block pageheader %}
    <div class="menubar">
        <div class="sidebar-toggler visible-xs">
            <i class="ion-navicon"></i>
        </div>
        <div class="page-title">
            RadioDNS :: Service Provider / Station :: Images
            <small class="hidden-xs">{% block pagesubtitle %} {% endblock %}</small>
        </div>
        <div id="page-functions" class="pull-right">{% block pagefunctions %}
            {% if ebuio_u.ebuio_orga_admin %}
                    <a href="{{ebuio_baseUrl}}serviceprovider/images/edit/-" class="btn btn-primary">Add a new image</a>
            {% endif %}
            {% endblock %}</div>
        <div id="page-search" class="pull-right">{% block pagesearch %} {% endblock %}</div>
    </div>
    {% endblock %}

	{% if saved %}
		<div class="alert alert-success" role="alert">
			Picture has been saved
		</div>
	{% endif %}

	{% if deleted %}
		<div class="alert alert-success" role="alert">
			Picture has been deleted
		</div>
	{% endif %}

	<div class="table-responsive">
    <table id="radiodns-spigm-table" class="display" cellspacing="0" width="100%">

		<thead>
			<tr>
				<th>Name</th>
				<th>32x32</th>
				<th>112x32</th>
				<th>128x128</th>
				<th>320x240</th>
				<th>600x600</th>
				<th style="width: 200px;"></th>
			</tr>
		</thead>

		<tbody>
			{% for s in list %}
				<tr>
					<td>{{s.name}}</td>
					<td><img class="tooltipme" src="{{s.public_32x32_url}}" width="32" heigh="32" /></td>
					<td><img class="tooltipme" src="{{s.public_112x32_url}}" width="112" heigh="32" /></td>
					<td><img class="tooltipme" src="{{s.public_128x128_url}}" width="64" heigh="64" data-placement="right" data-original-title="<img src='{{s.public_128x128_url}}' width='128' height='128' />"></td>
					<td><img class="tooltipme" src="{{s.public_320x240_url}}" width="85" heigh="64" data-placement="right" data-original-title="<img src='{{s.public_320x240_url}}' width='320' height='240' />"></td>
					<td><img class="tooltipme" src="{{s.public_600x600_url}}" width="64" heigh="64" data-placement="right" data-original-title="<img src='{{s.public_600x600_url}}' width='400' height='400' />"></td>
					<td nowrap="nowrap" style="text-align:right;">
						{% if ebuio_u.ebuio_orga_admin %}
							<a href="{{ebuio_baseUrl}}serviceprovider/images/default/{{s.id}}" class="btn btn-sm btn-info">Set as Provider Default</a>
							<a href="{{ebuio_baseUrl}}serviceprovider/images/edit/{{s.id}}" class="btn btn-sm btn-primary">Edit</a>
							<a href="{{ebuio_baseUrl}}serviceprovider/images/delete/{{s.id}}" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure ?');">Delete</a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
    </div>

    <script src='{{ebuio_baseUrl}}media/js/jquery.dataTables.min.js'></script>
    <link rel="stylesheet" type="text/css" href="{{ebuio_baseUrl}}media/css/jquery.dataTables.min.css" />
	<script type="text/javascript">
		$(document).ready(function() {
            $('.tooltipme').tooltip({html: true});
            $('#radiodns-spigm-table').DataTable( {
                    "paging":   false,
                    "ordering": true,
                    "info":     true,
                    columnDefs: [ { orderable: false, targets: [1,2] },
                                    { "bSearchable": false, "aTargets": [1,2] }]
                } );
            } );
	</script>


	<hr style="visibility: hidden; clear: both;">

{% endblock %}

