{% extends "plugIt/base.html" %}
{% load plugit_tags %}

{% block title %}Service following :: RadioEPG :: RadioDNS{% endblock %}

{% block menubar %}
    {% plugitInclude "menubar" %}
{% endblock %}

{% block content %}

    {% block pageheader %}
    <div class="menubar">
        <div class="sidebar-toggler visible-xs">
            <i class="ion-navicon"></i>
        </div>
        <div class="page-title">
            Edit an entry for service following
            <small class="hidden-xs">{% block pagesubtitle %} {% endblock %}</small>
        </div>
        <div id="page-functions" class="pull-right">{% block pagefunctions %} {% endblock %}</div>
        <div id="page-search" class="pull-right">{% block pagesearch %} {% endblock %}</div>
    </div>
    {% endblock %}

	{% if errors %}
		<div class="alert alert-error">
			<ul>
				{% for e in errors %}
					<li>{{e}}</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}

	<form action="" method="POST" enctype="multipart/form-data" class="form-horizontal">
		{% csrf_token %}

        <div class="form-group">
			<label class="col-sm-3 col-md-3 control-label">Channel:</label>
			<div class="col-sm-9 col-md-7">
                {% if object.type == 'channel' %}
                    <input type="text" value="{{object.uri}}" disabled class="form-control">
                {% else %}
                    <input type="text" name="channel_uri" value="{{object.channel_uri}}" class="form-control">
                {% endif %}
			</div>
		</div>


        <div class="form-group">
			<label class="col-sm-3 col-md-3 control-label">Cost:</label>
			<div class="col-sm-9 col-md-7">
                <input type="text" name="cost" value="{{object.cost|default:"100"}}" class="form-control"   >
			</div>
		</div>

        {% if object.type == 'channel' %}
			{% if object.channel_type == 'dab' %}
            <div class="form-group">
                <label class="col-sm-3 col-md-3 control-label">Mime/type:</label>
                <div class="col-sm-9 col-md-7">
                    <select name="mime_type" class="form-control">
                        {% for type in dab_mime_types %}
                            <option value="{{type.0}}" {% if object.mime_type == type.0 %}selected{% endif %}>{{type.1}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            {% else %}
                <input type="hidden" name="mime_type" value="">
            {% endif %}
        {% else %}
        <div class="form-group">
			<label class="col-sm-3 col-md-3 control-label">Mime/type:</label>
			<div class="col-sm-9 col-md-7">
				<input type="text" name="mime_type" value="{{object.mime_type}}" class="form-control">
			</div>
		</div>
		{% endif %}

		<div class="form-group">
			<label class="col-sm-3 col-md-3 control-label">Offset (ms):</label>
			<div class="col-sm-9 col-md-7">
				<input type="text" name="offset" value="{{object.offset|default:"0"}}" class="form-control">
			</div>
		</div>

        <hr />

		<div class="form-group">
			<div class="col-sm-4 col-sm-offset-3">
                <input type="submit" class="btn btn-primary" value="Save">
                {% if backtostation %}
                <a href="{{ebuio_baseUrl}}stations/{{current_station_id}}/radioepg/servicefollowing" class="btn btn-default">Cancel</a>
                {% else %}
                <a href="{{ebuio_baseUrl}}radioepg/servicefollowing/" class="btn">Cancel</a>
                {% endif %}
		    </div>
		</div>

	</form>

	<hr style="visibility: hidden; clear: both;">

{% endblock %}

