{% extends "plugIt/base.html" %}
{% load plugit_tags %}

{% block title %}Service following :: RadioEPG :: RadioDNS{% endblock %}

{% block menubar %}
    {% plugitInclude "menubar" %}
{% endblock %}

{% block content %}

    {% block pageheader %}
    <div class="menubar">
        <div class="sidebar-toggler visible-xs">
            <i class="ion-navicon"></i>
        </div>
        <div class="page-title">
            Edit an entry for service following
            <small class="hidden-xs">{% block pagesubtitle %} {% endblock %}</small>
        </div>
        <div id="page-functions" class="pull-right">{% block pagefunctions %} {% endblock %}</div>
        <div id="page-search" class="pull-right">{% block pagesearch %} {% endblock %}</div>
    </div>
    {% endblock %}

	{% if errors %}
		<div class="alert alert-error">
			<ul>
				{% for e in errors %}
					<li>{{e}}</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}

	<form action="" method="POST" enctype="multipart/form-data">
		{% csrf_token %}

		<label>Channel</label>
		{% if object.type == 'channel' %}
			<input type="text" value="{{object.uri}}" disabled>
		{% else %}
			<input type="text" name="channel_uri" value="{{object.channel_uri}}">
		{% endif %}

		<label>Cost</label>
		<input type="text" name="cost" value="{{object.cost|default:"100"}}">

		{% if object.type == 'channel' %}
			{% if object.channel_type == 'dab' %}
				<label>Mime/type</label>
				<select name="mime_type">
					{% for type in dab_mime_types %}
						<option value="{{type.0}}" {% if object.mime_type == type.0 %}selected{% endif %}>{{type.1}}</option>
					{% endfor %}
				</select>
			{% else %}
				<input type="hidden" name="mime_type" value="">
			{% endif %}
		{% else %}
			<label>Mime/type</label>
			<input type="text" name="mime_type" value="{{object.mime_type}}">
		{% endif %}
		

		<label>Offset (ms)</label>
		<input type="text" name="offset" value="{{object.offset|default:"0"}}">

		
		<span style="float: right;">
			<a href="{{ebuio_baseUrl}}radioepg/servicefollowing/" class="btn">Cancel</a>
			<input type="submit" class="btn btn-primary" value="Save">
		</span>

	</form>

	<hr style="visibility: hidden; clear: both;">

{% endblock %}

