<?xml version="1.0" encoding="UTF-8"?>
<serviceInformation xmlns="http://schemas.radiodns.org/epg/11" xmlns:epg="http://www.worlddab.org/schemas/epgDataTypes/14"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://schemas.radiodns.org/epg/11 http://schemas.radiodns.org/epg/11/radioepg_xsi_11.xsd" creationTime="{{creation_time}}" originator="RadioDNS - PlugIt" serviceProvider="EBU Technical" xml:lang="en">
  <services> 

    {% for station in stations %}
      <service>
        <radiodns fqdn="rdns.ebulabs.org" serviceIdentifier="ebu{{station.0.id}}"/>
        {% for entry in station.1 %}
          <serviceID id="{{entry.uri}}"  {% if entry.cost %}cost="{{entry.cost}}"{% endif %} {% if entry.offset %}offset="{{entry.offset}}"{% endif %} {% if entry.mime_type %}mime="{{entry.mime_type}}"{% endif %}/>
        {% endfor %}
        <epg:shortName>{{station.0.short_name_to_use}}</epg:shortName>
        <epg:mediumName>{{station.0.name}}</epg:mediumName>
        <mediaDescription>
            <epg:multimedia height="32" width="32" type="logo_colour_square" url="http://radiodns.ebu.io/radiodns/logo/{{station.0.id}}/32/32/logo.png"/>
        </mediaDescription>
        <mediaDescription>
            <epg:multimedia height="32" width="112" type="logo_unrestricted" url="http://radiodns.ebu.io/radiodns/logo/{{station.0.id}}/112/32/logo.png"/>
        </mediaDescription>
        <mediaDescription>
            <epg:multimedia height="128" width="128" type="logo_unrestricted" url="http://radiodns.ebu.io/radiodns/logo/{{station.0.id}}/128/128/logo.png"/>
        </mediaDescription>
        <mediaDescription>
            <epg:multimedia height="240" width="320" type="logo_unrestricted" url="http://radiodns.ebu.io/radiodns/logo/{{station.0.id}}/320/240/logo.png"/>
        </mediaDescription>
        <mediaDescription>
            <epg:multimedia height="600" width="600" type="logo_unrestricted" url="http://radiodns.ebu.io/radiodns/logo/{{station.0.id}}/600/600/logo.png"/>
        </mediaDescription>
      </service>
    {% endfor %}

  </services>
</serviceInformation>
