import logging

LOG_LEVEL = logging.DEBUG

RABBITMQ_LOOPBACK = False  # If set to true, don't use rabbitmq but just send messages back !
RABBITMQ_HOST = 'radiovis.ebu.io'
RABBITMQ_PORT = 5672
RABBITMQ_USER = 'guest'
RABBITMQ_PASSWORD = 'guest'
RABBITMQ_VHOST = '/'
RABBITMQ_DEBUG = True
RABBITMQ_EXCHANGE = 'amq.fanout'


STOMP_IP = '0.0.0.0'
STOMP_PORT = 61613

API_URL = ''

#http://beaker.readthedocs.org/en/latest/configuration.html#configuration
CACHE_OPTS = {
    'cache.type': 'memory',
}