{% extends "base.html" %}
{% load static %}
{% block title %}Schedule :: RadioEPG :: RadioDNS{% endblock %}

{% block content %}

    {% block pageheader %}
    <div class="menubar">
        <div class="sidebar-toggler visible-xs">
            <i class="ion-navicon"></i>
        </div>
        <div class="page-title">
            RadioEPG: Schedule
            <small class="hidden-xs">{% block pagesubtitle %} {% endblock %}</small>
        </div>
        <div id="page-functions" class="pull-right">
			{% block pagefunctions %}
                    Select Station : <select onchange="window.location=$(this).val();" class="form-control23">
				{% for station in stations %}
					<option value="{% url 'radioepg:station_schedule' station.id %}" {% if station.id == selected_station.id %}selected{% endif %}>{{station.default_instance.name}}</option>
				{% endfor %}
                    </select>
			{% if selected_station.radioepgpi_enabled %}
			<a href="{% url 'radioepg:list_shows' selected_station.id %}" class="btn btn-primary">Edit Shows</a>
			{% endif %}
			{% endblock %}
		</div>
        <div id="page-search" class="pull-right">{% block pagesearch %} {% endblock %}</div>
    </div>
    {% endblock %}
    {% block alerts %}
    {{ block.super }}
    {% endblock %}

        {% if not stations %}
            No stations !
        {% elif not selected_station.radioepgpi_enabled %}
            <div class="alert alert-warning" role="alert">
            <p>This station's Program Information (PI) is not enabled yet.</p>
            <a href="{% url 'stations:edit' selected_station.id %}" class="btn btn-primary">Enable now</a>
            </div>
        {% else %}

            <link href="{% static 'css/fullcalendar.css' %}" rel='stylesheet' />
            <link href="{% static 'css/fullcalendar.print.css' %}" rel='stylesheet' media='print' />
            <script src="{% static 'js/jquery-ui-1.10.3.custom.min.js' %}"></script>
            <script src="{% static 'js/fullcalendar.min.js' %}"></script>

            <style>
                #the_calendar .fc-agenda-slots td {
                    border-top: 1px #ddd solid;
                }
                .external-event {
                    z-index: 1000;
                }
            </style>

            <div class="row">
                <div class="col-md-10">
                <h3>Calendar</h3>
                <div id="the_calendar" class="col-md-12"></div>
                </div>
                <div class="col-md-2">
                        <h3>Shows</h3>
                        <div class="row">
                            <ul class="nav nav-list">
                                {% for show in shows %}
                                    <li><a href="#" showPk="{{show.id}}" class="ui-draggable external-event" style="background-color: {{show.color}}; color: #000;">{{show.medium_name}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    <hr />
                        <div class="row">
                            <a href="{% url 'radioepg:new_show' selected_station.id %}" class="btn btn-xs btn-primary">Add a new show</a>
                            <a href="{% url 'radioepg:list_shows' selected_station.id %}" class="btn btn-xs btn-primary">Edit Shows</a>
                        </div>
                </div>
            </div>


        <script type="text/javascript">
		 	$.fullCalendar.dayNames

				$(function() {
					$( ".ui-draggable" ).draggable({ revert: true });
				});
			 $('#the_calendar').fullCalendar({
				theme: true,
				header: {
					//left: 'prev,next today',
					left:'',
					center: '',//'title',
					right:''
					//right:'month, agendaWeek'
					//right: 'month,agendaWeek,agendaDay'
				},
				axisFormat: 'HH:mm',
				allDaySlot: false,
				firstDay:1,
				selectable:false,
				selectHelper: false,
				timeFormat: 'HH:mm{ - HH:mm}',
				columnFormat:{
				week: 'ddd'
				},
				slotMinutes:60,
				snapMinutes:15,
				defaultEventMinutes:60,
				firstHour: 0,
				defaultView: 'agendaWeek',
				editable: true,
				droppable: true, // this allows things to be dropped onto the calendar !!!
				select: function(start, end, allDay) {
					return false;
				 },
				drop: function(date, allDay) {
					hour = $.fullCalendar.formatDate(date, "HH");
					minute = $.fullCalendar.formatDate(date, "mm");
					timeday = (date.getDay() + 6) % 7;
					showPk = $(this).attr('showPk');
					urlnewsched = "{% url 'radioepg:create_event' selected_station.id %}?show_id="+showPk+"&hour="+hour+"&minute="+minute+"&timeday="+timeday;
					$.ajax({
						url: urlnewsched,
						success: function(data){
							refreshCal();
						}
					});
				},
				eventResize: function(event,dayDelta,minuteDelta,revertFunc) {
					urlresizesched = "{% url 'radioepg:resize_event' selected_station.id %}?event_id="+event.id+"&deltaMinutes="+minuteDelta;
					$.ajax({
						url: urlresizesched,
						success: function(data){
							refreshCal();
						}
					});
				},
				eventDrop: function(event,dayDelta,minuteDelta,allDay,revertFunc) {
					hour = $.fullCalendar.formatDate(event.start, "HH");
					minute = $.fullCalendar.formatDate(event.start, "mm");
					urlmovesched = "{% url 'radioepg:move_event' selected_station.id %}?event_id="+event.id+"&hour="+hour+"&minute="+minute+"&deltaDay="+dayDelta;
					$.ajax({
						url: urlmovesched,
						success: function(data){
							refreshCal();
						}
					});
				},
				eventClick: function(calEvent, jsEvent, view) {
					if(confirm("Are you sure you want to delete schedule of "+calEvent.title)){
						urldelete = "{% url 'radioepg:delete_event' selected_station.id %}?event_id=" + calEvent.id;
						$.ajax({
							url: urldelete,
							success: function(data){
								refreshCal();
							}
						});
					}
					$('#check').removeClass("ui-state-active");
					return false;
				},
    	        events: function(start, end, callback) {
			        calcStart = Math.round(start.getTime() / 1000);
			        urlevents = "{% url 'radioepg:list_events' selected_station.id%}?start="+calcStart,
			        $.ajax({
			            url: urlevents,
			            success: function(data) {
			                callback(data.list);
			            }
			        });
			    }
			});
			function refreshCal(){
				$("#the_calendar").fullCalendar( 'refetchEvents' );
			}
		</script>
        {% endif %}
{% endblock %}

