{% extends "base.html" %}

{% block title %}Shows :: RadioEPG :: RadioDNS{% endblock %}

{% block content %}

    {% block pageheader %}
    <div class="menubar">
        <div class="sidebar-toggler visible-xs">
            <i class="ion-navicon"></i>
        </div>
        <div class="page-title">
            RadioEPG :: Shows
            <small class="hidden-xs">{% block pagesubtitle %} {% endblock %}</small>
        </div>
        <div id="page-functions" class="pull-right">
			{% block pagefunctions %}
			Select station : <select onchange="window.location=$(this).val();">
				{% for station in stations %}
					<option value="{% url 'radioepg:list_shows' station.id %}" {% if station.id == selected_station.id %}selected{% endif %}>{{station.name}}</option>
				{% endfor %}
			</select>
				<a href="{% url 'radioepg:station_schedule' selected_station.id %}" class="btn btn-default">Back to Schedule</a>
				<a href="{% url 'radioepg:new_show' selected_station.id %}" class="btn btn-primary">Add a new show</a>
			{% endblock %}
		</div>
        <div id="page-search" class="pull-right">{% block pagesearch %} {% endblock %}</div>
    </div>
    {% endblock %}
    {% block alerts %}
    {{ block.super }}
    {% endblock %}
	{% if not stations %}
		No stations !
	{% else %}

		<table class="table table-striped table-hover table-condensed">
			<thead>
				<tr>
					<th>Medium name</th>
					<th>Long name</th>
					<th>Color</th>
					<th style="width: 150px;"></th>
				</tr>
			</thead>

			<tbody>
				{% for show in shows %}
					<tr>
						<td>{{show.medium_name}}</td>
						<td>{{show.long_name}}</td>
						<td style="background-color: {{show.color}};">&nbsp;</td>
						<td>
							<a href="{% url 'radioepg:delete_show' selected_station.id show.id%}" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure ?');">Delete</a>
							<a href="{% url 'radioepg:edit_show' selected_station.id show.id%}" class="btn btn-sm btn-default">Edit</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<script type="text/javascript">
			$('.tooltipme').tooltip({html: true});
		</script>

	{% endif %}

	<hr style="visibility: hidden; clear: both;">

{% endblock %}

