{% extends "plugIt/base.html" %}
{% load plugit_tags %}

{% block title %}Stations :: RadioDNS{% endblock %}

{% block menubar %}
    {% plugitInclude "menubar" %}
{% endblock %}

{% block content %}

    {% block pageheader %}
    <div class="menubar">
        <div class="sidebar-toggler visible-xs">
            <i class="ion-navicon"></i>
        </div>
        <div class="page-title">
            Edit a service provider
            <small class="hidden-xs">{% block pagesubtitle %} {% endblock %}</small>
        </div>
        <div id="page-functions" class="pull-right">{% block pagefunctions %} {% endblock %}</div>
        <div id="page-search" class="pull-right">{% block pagesearch %} {% endblock %}</div>
    </div>
    {% endblock %}

	{% if errors %}
		<div class="alert alert-error">
			<ul>
				{% for e in errors %}
					<li>{{e}}</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}

	<form action="" method="POST">
		{% csrf_token %}

		<label>Name</label>
		<input type="text" name="name" value="{{object.name}}">

		<label>Short name</label>
		<input type="text" name="short_name" value="{{object.short_name}}" maxlength="8">

		<label>Short description</label>
		<input type="text" name="short_description" value="{{object.short_description}}" maxlength="180">

		<label>IPs allowed to connect to the radiovis server</label>
		<input type="text" name="ip_allowed" value="{{object.ip_allowed}}">
		<small>
			A list of ip.ip.ip.ip/subnet, comma separted. E.g.: <i>127.0.0.1/32, 0.0.0.0/0, 192.168.42.0/24</i>
		</small>

		<label>Genres</label>

		<table class="table table-condensed" id="genre_list">
			<tr><th>Href (e.g.:  <i>urn:tva:metadata:cs:ContentCS:2004:3.1.1.11</i>)</th><th>Name (e.g: <i>Local/Regional</i>)</th><th></th></tr>

		{% for g in object.genres_list %}
			 <tr><td><input type="text" name="genrehref[]" value="{{g.href}}"></td><td><input type="text" name="genrename[]" value="{{g.name}}"></td><td><a href="#" onclick="return del_genre(this);">Remove</a></td></tr>
		{% endfor %}

		</table>
		<a class="btn btn-xs btn-default" onclick="$('#genre_list').append('<tr><td><input type=\'text\' name=\'genrehref[]\'></td><td><input type=\'text\' name=\'genrename[]\'></td><td><a href=\'#\' onclick=\'return del_genre(this);\'>Remove</a></td></tr>');">New genre</a>

		<span style="float: right;">
			<a href="{{ebuio_baseUrl}}stations/" class="btn btn-default">Cancel</a>
			<input type="submit" class="btn btn-primary" value="Save">
		</span>

	</form>

	<script type="text/javascript">

		function del_genre(elem) {
			$(elem).parent().parent().remove();
			return false;
		}


	</script>

	<hr style="visibility: hidden; clear: both;">

{% endblock %}

