{% extends "plugIt/base.html" %}
{% load plugit_tags %}

{% block title %}Schedule :: RadioEPG :: RadioDNS{% endblock %}

{% block menubar %}
    {% plugitInclude "menubar" %}
{% endblock %}

{% block content %}

    {% block pageheader %}
    <div class="menubar">
        <div class="sidebar-toggler visible-xs">
            <i class="ion-navicon"></i>
        </div>
        <div class="page-title">
            RadioEPG: Schedule
            <small class="hidden-xs">{% block pagesubtitle %} {% endblock %}</small>
        </div>
        <div id="page-functions" class="pull-right">
			{% block pagefunctions %}
                {% if serviceprovider %}
                    Select Station : <select onchange="window.location='?station_id=' + $(this).val();" class="form-control23">
                        {% for station in stations %}
                            <option value="{{station.id}}" {% if station.id == current_station.id %}selected{% endif %}>{{station.name}}</option>
                        {% endfor %}
                    </select>
                {% endif %}
			{% if current_station.radioepgpi_enabled %}
			<a href="{{ebuio_baseUrl}}radioepg/shows/{% if current_station_id %}?station_id={{current_station_id}}{% endif %}" class="btn btn-primary">Edit Shows</a>
			{#<a href="{{ebuio_baseUrl}}radioepg/schedule/{{current_station_id}}/xml" target="_blank" class="btn btn-info">Export to XML</a>#}
			{% endif %}
			{% endblock %}
		</div>
        <div id="page-search" class="pull-right">{% block pagesearch %} {% endblock %}</div>
    </div>
    {% endblock %}

    {% if not serviceprovider %}
		 <div class="alert alert-warning" role="alert">
			<p><strong>No configuration for your organisation exists yet.</strong> <br />
			Start by creating the initial service provider configuration.
			 </p>
			<p><a href="{{ebuio_baseUrl}}serviceprovider/edit/{{serviceprovider.id}}{% if not s %}-{% endif %}" class="btn btn-primary">Edit</a></p>
		</div>
	{% else %}
        {% if nostations %}
            No stations !
        {% elif not current_station.radioepgpi_enabled %}
            <div class="alert alert-warning" role="alert">
            <p>This station's Program Information (PI) is not enabled yet.</p>
            <a href="{{ebuio_baseUrl}}stations/edit/{{current_station.id}}{% if not current_station %}-{% endif %}" class="btn btn-primary">Enable now</a>
            </div>
        {% else %}

            <link href='{{ebuio_baseUrl}}media/css/fullcalendar.css' rel='stylesheet' />
            <link href='{{ebuio_baseUrl}}media/css/fullcalendar.print.css' rel='stylesheet' media='print' />
            <script src='{{ebuio_baseUrl}}media/js/jquery-ui-1.10.3.custom.min.js'></script>
            <script src='{{ebuio_baseUrl}}media/js/fullcalendar.min.js'></script>

            <style>
                #the_calendar .fc-agenda-slots td {
                    border-top: 1px #ddd solid;
                }
                .external-event {
                    z-index: 1000;
                }
            </style>

            <div class="row">
                <div class="col-md-10">
                <h3>Calendar</h3>
                <div id="the_calendar" class="col-md-12"></div>
                </div>
                <div class="col-md-2">
                    {% if ebuio_u.ebuio_orga_admin %}
                        <h3>Shows</h3>
                        <div class="row">
                            <ul class="nav nav-list">
                                {% for show in shows %}
                                    <li><a href="#" showPk="{{show.id}}" class="ui-draggable external-event" style="background-color: {{show.color}}; color: #000;">{{show.medium_name}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    <hr />
                        <div class="row">
                            <a href="{{ebuio_baseUrl}}radioepg/shows/edit/-?station_id={{current_station_id}}" class="btn btn-xs btn-primary">Add a new show</a>
                            <a href="{{ebuio_baseUrl}}radioepg/shows/{% if current_station_id %}?station_id={{current_station_id}}{% endif %}" class="btn btn-xs btn-primary">Edit Shows</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}

		

		<script type="text/javascript">
		 	$.fullCalendar.dayNames
			
				$(function() {
					$( ".ui-draggable" ).draggable({ revert: true });
				});
			 $('#the_calendar').fullCalendar({
				theme: true,
				header: {
					//left: 'prev,next today',
					left:'',
					center: '',//'title',
					right:''
					//right:'month, agendaWeek'
					//right: 'month,agendaWeek,agendaDay'
				},
				axisFormat: 'HH:mm',
				allDaySlot: false,
				firstDay:1,
				selectable:false,
				selectHelper: false,
				timeFormat: 'HH:mm{ - HH:mm}',
				columnFormat:{
				week: 'ddd'
				},
				slotMinutes:60,
				snapMinutes:15,
				defaultEventMinutes:60,
				firstHour: 0,
				defaultView: 'agendaWeek',
				editable: true,
				droppable: true, // this allows things to be dropped onto the calendar !!!
				select: function(start, end, allDay) {
					return false;
				 },
				{% if ebuio_u.ebuio_orga_admin %}
				drop: function(date, allDay) { 
					start = $.fullCalendar.formatDate(date, "HH:mm");
					timeday = (date.getDay() + 6) % 7;
					showPk = $(this).attr('showPk');
					urlnewsched = "{{ebuio_baseUrl}}radioepg/schedule/{{current_station_id}}/create/?start="+start+"&timeday="+timeday+"&showPk="+showPk;
					$.ajax({
						url: urlnewsched,
						success: function(data){
							refreshCal();
						}
					});
				},
				eventResize: function(event,dayDelta,minuteDelta,revertFunc) {
					progPk = event.id;
					urlresizesched = "{{ebuio_baseUrl}}radioepg/schedule/{{current_station_id}}/resize/?deltaMinutes="+minuteDelta+"&progPk="+progPk;
					$.ajax({
						url: urlresizesched,
						success: function(data){
							refreshCal();
						}
					});
				},
				eventDrop: function(event,dayDelta,minuteDelta,allDay,revertFunc) {
					progPk = event.id;
					newstart = $.fullCalendar.formatDate(event.start, "HH:mm");
					urlmovesched = "{{ebuio_baseUrl}}radioepg/schedule/{{current_station_id}}/move/?newStart="+newstart+"&deltaDay="+dayDelta+"&progPk="+progPk;
					$.ajax({
						url: urlmovesched,
						success: function(data){
							refreshCal();
						}
					});
				},
				eventClick: function(calEvent, jsEvent, view) {
					progPk = calEvent.id;
					if(confirm("Are you sure you want to delete schedule of "+calEvent.title)){
						urldelete = "{{ebuio_baseUrl}}radioepg/schedule/{{current_station_id}}/delete/?progPk=" + progPk;
						$.ajax({
							url: urldelete,
							success: function(data){
								refreshCal();
							}
						});
					}
					$('#check').removeClass("ui-state-active");
					return false;
				},
				{% endif %}
    	        events: function(start, end, callback) {
			        $.ajax({
			            url: "{{ebuio_baseUrl}}radioepg/schedule/{{current_station_id}}/events",
			            dataType: 'json',
			            data: {
			                start: Math.round(start.getTime() / 1000),
			                end: Math.round(end.getTime() / 1000)
			            },
			            success: function(data) {
			                callback(data.list);
			            }
			        });
			    }
			});
			function refreshCal(){
				$("#the_calendar").fullCalendar( 'refetchEvents' );
			} 
		</script>
	{% endif %}


{% endblock %}

