<?xml version="1.0" encoding="UTF-8"?>
<epg xml:lang="en" xmlns="http://www.worlddab.org/schemas/epgSchedule/14" xmlns:epg="http://www.worlddab.org/schemas/epgDataTypes/14" xmlns:repg="http://schemas.radiodns.org/epg/10" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.worlddab.org/schemas/epgSchedule/14 http://www.worlddab.org/schemas/epgSchedule/14/epgSchedule_14.xsd">
 <schedule creationTime="2015-07-16T12:47:53" originator="Global Radio" version="1">
  <scope startTime="2015-07-15T22:00:00+01:00" stopTime="2015-07-17T01:00:00+01:00">
   <serviceScope id="4e1.4001.43e9.0"/>
  </scope>
  <programme id="crid://epg.musicradio.com/programmes/176/2137938" shortId="2137938">
   <epg:mediumName>Smooth Classics</epg:mediumName>
   <epg:longName>Smooth Classics with Margherita Taylor</epg:longName>
   <epg:location>
    <epg:time actualDuration="PT3H0M" actualTime="2015-07-15T22:00:00+01:00" duration="PT3H0M" time="2015-07-15T22:00:00+01:00"/>
   </epg:location>
   <epg:mediaDescription>
    <epg:longDescription>Enjoy three hours of the smoothest sounds and relaxing classical music in the company of Margherita Taylor.</epg:longDescription>
   </epg:mediaDescription>
   <epg:memberOf id="crid://epg.musicradio.com/programmes/176" shortId="176"/>
   <epg:link description="Web:" url="http://www.classicfm.com/radio/shows/smooth-classics"/>
   <mediaDescription>
    <epg:multimedia height="320" type="logo_unrestricted" url="http://mediaweb.musicradio.com/ArtWork/SES/d5f0ff69-dfc0-4ea2-806c-88d92c30b7f8.png" width="600"/>
   </mediaDescription>
   <mediaDescription>
    <epg:multimedia height="2048" type="logo_unrestricted" url="http://mediaweb.musicradio.com/ArtWork/SES/6bf4039b-bf0d-4074-b1d8-b2425ec8b497.jpg" width="2048"/>
   </mediaDescription>
  </programme>
  <programme id="crid://epg.musicradio.com/programmes/3860/2168313" shortId="2168313">
   <epg:mediumName>Lucy Coward</epg:mediumName>
   <epg:longName>Lucy Coward</epg:longName>
   <epg:location>
    <epg:time actualDuration="PT5H0M" actualTime="2015-07-16T01:00:00+01:00" duration="PT5H0M" time="2015-07-16T01:00:00+01:00"/>
   </epg:location>
   <epg:mediaDescription>
    <epg:longDescription>Lucy Coward takes you through the night with the best classical music.</epg:longDescription>
   </epg:mediaDescription>
   <epg:memberOf id="crid://epg.musicradio.com/programmes/3860" shortId="3860"/>
   <epg:link description="Web:" url="http://www.classicfm.com/radio/shows/lucy-coward"/>
   <mediaDescription>
    <epg:multimedia height="320" type="logo_unrestricted" url="http://mediaweb.musicradio.com/ArtWork/SES/33b0de18-4c5d-4873-b86f-5acb9e1b001d.png" width="600"/>
   </mediaDescription>
   <mediaDescription>
    <epg:multimedia height="2048" type="logo_unrestricted" url="http://mediaweb.musicradio.com/ArtWork/SES/4b0c9e11-2a47-4aa7-8a33-709c1ba9c102.jpg" width="2048"/>
   </mediaDescription>
  </programme>
  <programme id="crid://epg.musicradio.com/programmes/1390/2137940" shortId="2137940">
   <epg:mediumName>Tim Lihoreau</epg:mediumName>
   <epg:longName>Classic FM's More Music Breakfast with Tim Lihoreau</epg:longName>
   <epg:location>
    <epg:time actualDuration="PT3H0M" actualTime="2015-07-16T06:00:00+01:00" duration="PT3H0M" time="2015-07-16T06:00:00+01:00"/>
   </epg:location>
   <epg:mediaDescription>
    <epg:longDescription>Tim eases you into the day with a programme packed with the world's greatest music.</epg:longDescription>
   </epg:mediaDescription>
   <epg:memberOf id="crid://epg.musicradio.com/programmes/1390" shortId="1390"/>
   <epg:link description="Web:" url="http://www.classicfm.com/radio/shows/more-music-breakfast"/>
   <mediaDescription>
    <epg:multimedia height="320" type="logo_unrestricted" url="http://mediaweb.musicradio.com/ArtWork/SES/4540545d-1fba-4772-93d1-8699f6edd998.png" width="600"/>
   </mediaDescription>
   <mediaDescription>
    <epg:multimedia height="2048" type="logo_unrestricted" url="http://mediaweb.musicradio.com/ArtWork/SES/ca904202-d107-4204-8a9a-f96e9fd581e6.jpg" width="2048"/>
   </mediaDescription>
  </programme>
  <programme id="crid://epg.musicradio.com/programmes/2221/2137941" shortId="2137941">
   <epg:mediumName>Hall Of Fame</epg:mediumName>
   <epg:longName>The Classic FM Hall Of Fame Hour</epg:longName>
   <epg:location>
    <epg:time actualDuration="PT1H0M" actualTime="2015-07-16T09:00:00+01:00" duration="PT1H0M" time="2015-07-16T09:00:00+01:00"/>
   </epg:location>
   <epg:mediaDescription>
    <epg:longDescription>We play the greatest pieces of classical music, as voted for by you in our Hall Of Fame.</epg:longDescription>
   </epg:mediaDescription>
   <epg:memberOf id="crid://epg.musicradio.com/programmes/2221" shortId="2221"/>
   <epg:link description="Web:" url="http://www.classicfm.com/radio/shows/hall-fame"/>
   <mediaDescription>
    <epg:multimedia height="320" type="logo_unrestricted" url="http://mediaweb.musicradio.com/ArtWork/SES/bf614fa4-87a1-4362-b6aa-b6c158109cf0.png" width="600"/>
   </mediaDescription>
   <mediaDescription>
    <epg:multimedia height="2048" type="logo_unrestricted" url="http://mediaweb.musicradio.com/ArtWork/SES/66602a20-0b8e-48dd-ab29-e5bedc360261.jpg" width="2048"/>
   </mediaDescription>
  </programme>
  <programme id="crid://epg.musicradio.com/programmes/1861/2137942" shortId="2137942">
   <epg:mediumName>John Suchet</epg:mediumName>
   <epg:longName>John Suchet</epg:longName>
   <epg:location>
    <epg:time actualDuration="PT3H0M" actualTime="2015-07-16T10:00:00+01:00" duration="PT3H0M" time="2015-07-16T10:00:00+01:00"/>
   </epg:location>
   <epg:mediaDescription>
    <epg:longDescription>John Suchet presents three hours of the best classical music including a track from his Album of the Week.</epg:longDescription>
   </epg:mediaDescription>
   <epg:memberOf id="crid://epg.musicradio.com/programmes/1861" shortId="1861"/>
   <epg:link description="Web:" url="http://www.classicfm.com/radio/shows/john-suchet"/>
   <mediaDescription>
    <epg:multimedia height="320" type="logo_unrestricted" url="http://mediaweb.musicradio.com/ArtWork/SES/a5d1da54-fd14-4687-828b-3665df0ef2d2.png" width="600"/>
   </mediaDescription>
   <mediaDescription>
    <epg:multimedia height="2048" type="logo_unrestricted" url="http://mediaweb.musicradio.com/ArtWork/SES/d72f6778-e8f0-4f2d-9484-f1ce7e17d85b.jpg" width="2048"/>
   </mediaDescription>
  </programme>
  <programme id="crid://epg.musicradio.com/programmes/4215/2137943" shortId="2137943">
   <epg:mediumName>Anne-Marie </epg:mediumName>
   <epg:longName>Anne-Marie Minhall</epg:longName>
   <epg:location>
    <epg:time actualDuration="PT4H0M" actualTime="2015-07-16T13:00:00+01:00" duration="PT4H0M" time="2015-07-16T13:00:00+01:00"/>
   </epg:location>
   <epg:mediaDescription>
    <epg:longDescription>Join Anne-Marie Minhall for two hours of your requests followed by two more hours of the very best classical music.</epg:longDescription>
   </epg:mediaDescription>
   <epg:memberOf id="crid://epg.musicradio.com/programmes/4215" shortId="4215"/>
   <epg:link description="Web:" url="http://www.classicfm.com/radio/shows/anne-marie-minhall"/>
   <mediaDescription>
    <epg:multimedia height="320" type="logo_unrestricted" url="http://mediaweb.musicradio.com/ArtWork/SES/7eed78db-1f8c-429c-b530-cedc12ee43a9.png" width="600"/>
   </mediaDescription>
   <mediaDescription>
    <epg:multimedia height="2048" type="logo_unrestricted" url="http://mediaweb.musicradio.com/ArtWork/SES/2efe22db-4031-46bd-a0ff-b7e7c79c209c.jpg" width="2048"/>
   </mediaDescription>
  </programme>
  <programme id="crid://epg.musicradio.com/programmes/1848/2137944" shortId="2137944">
   <epg:mediumName>Classic FM Drive</epg:mediumName>
   <epg:longName>Classic FM Drive with John Brunning</epg:longName>
   <epg:location>
    <epg:time actualDuration="PT3H0M" actualTime="2015-07-16T17:00:00+01:00" duration="PT3H0M" time="2015-07-16T17:00:00+01:00"/>
   </epg:location>
   <epg:mediaDescription>
    <epg:longDescription>Join John Brunning and Classic FM as we play the best classical music to take you into the evening.</epg:longDescription>
   </epg:mediaDescription>
   <epg:memberOf id="crid://epg.musicradio.com/programmes/1848" shortId="1848"/>
   <epg:link description="Web:" url="http://www.classicfm.com/radio/shows/classic-fm-drive"/>
   <mediaDescription>
    <epg:multimedia height="320" type="logo_unrestricted" url="http://mediaweb.musicradio.com/ArtWork/SES/a1a2083b-9aa0-4eaf-a581-838d1b6478d7.png" width="600"/>
   </mediaDescription>
   <mediaDescription>
    <epg:multimedia height="2048" type="logo_unrestricted" url="http://mediaweb.musicradio.com/ArtWork/SES/56ef98c6-97f1-41b6-95fe-e2e518f0d533.jpg" width="2048"/>
   </mediaDescription>
  </programme>
  <programme id="crid://epg.musicradio.com/programmes/4276/2137945" shortId="2137945">
   <epg:mediumName>Concert</epg:mediumName>
   <epg:longName>The Full Works Concert with Catherine Bott</epg:longName>
   <epg:location>
    <epg:time actualDuration="PT2H0M" actualTime="2015-07-16T20:00:00+01:00" duration="PT2H0M" time="2015-07-16T20:00:00+01:00"/>
   </epg:location>
   <epg:mediaDescription>
    <epg:longDescription>Catherine Bott presents the world's greatest classical performances played in full, with no interruptions.</epg:longDescription>
   </epg:mediaDescription>
   <epg:memberOf id="crid://epg.musicradio.com/programmes/4276" shortId="4276"/>
   <epg:link description="Web:" url="http://www.classicfm.com/radio/shows/full-works-concert"/>
   <mediaDescription>
    <epg:multimedia height="320" type="logo_unrestricted" url="http://mediaweb.musicradio.com/ArtWork/SES/91ee3731-4587-4c3d-85f7-1288eac3d3de.png" width="600"/>
   </mediaDescription>
   <mediaDescription>
    <epg:multimedia height="2048" type="logo_unrestricted" url="http://mediaweb.musicradio.com/ArtWork/SES/56d8c3dc-a7be-400e-b302-4e41cd424266.png" width="2048"/>
   </mediaDescription>
  </programme>
  <programme id="crid://epg.musicradio.com/programmes/176/2137946" shortId="2137946">
   <epg:mediumName>Smooth Classics</epg:mediumName>
   <epg:longName>Smooth Classics with Margherita Taylor</epg:longName>
   <epg:location>
    <epg:time actualDuration="PT3H0M" actualTime="2015-07-16T22:00:00+01:00" duration="PT3H0M" time="2015-07-16T22:00:00+01:00"/>
   </epg:location>
   <epg:mediaDescription>
    <epg:longDescription>Enjoy three hours of the smoothest sounds and relaxing classical music in the company of Margherita Taylor.</epg:longDescription>
   </epg:mediaDescription>
   <epg:memberOf id="crid://epg.musicradio.com/programmes/176" shortId="176"/>
   <epg:link description="Web:" url="http://www.classicfm.com/radio/shows/smooth-classics"/>
   <mediaDescription>
    <epg:multimedia height="320" type="logo_unrestricted" url="http://mediaweb.musicradio.com/ArtWork/SES/d5f0ff69-dfc0-4ea2-806c-88d92c30b7f8.png" width="600"/>
   </mediaDescription>
   <mediaDescription>
    <epg:multimedia height="2048" type="logo_unrestricted" url="http://mediaweb.musicradio.com/ArtWork/SES/6bf4039b-bf0d-4074-b1d8-b2425ec8b497.jpg" width="2048"/>
   </mediaDescription>
  </programme>
 </schedule>
</epg>
