<?xml version="1.0" encoding="UTF-8"?>
<epg system="DAB" xml:lang="en" xmlns="http://www.worlddab.org/schemas/epgSchedule/14" xmlns:epg="http://www.worlddab.org/schemas/epgDataTypes/14" xmlns:repg="ttp://schemas.radiodns.org/epg/11" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.worlddab.org/schemas/epgSchedule/14 http://www.worlddab.org/schemas/epgSchedule/14/epgSchedule_14.xsd">
  <schedule creationTime="{{creation_time}}" originator="RadioDNS - PlugIt" version="1">
    <scope startTime="{{start_time}}" stopTime="{{end_time}}"></scope>

    {% for s in schedules %}
      <programme shortId="{{s.id}}">
        <epg:mediumName>{{s.json_show.medium_name}}</epg:mediumName>
        <epg:longName>{{s.json_show.long_name}}</epg:longName>
        <epg:location>
          <epg:time actualDuration="{{s.duration}}" actualTime="{{s.start_time}}" duration="{{s.duration}}" time="{{s.start_time}}"/>
        </epg:location>
        <epg:mediaDescription>
          <epg:longDescription>{{s.json_show.description}}</epg:longDescription>
        </epg:mediaDescription>
      </programme>
    {% endfor %}
  </schedule>
</epg>
