<?xml version="1.0" encoding="UTF-8"?>
<epg xmlns="http://www.worlddab.org/schemas/spi/31" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:xml="http://www.w3.org/XML/1998/namespace" 
    xsi:schemaLocation="http://www.worlddab.org/schemas/spi/31 spi_31.xsd">

    <scope startTime="{{start_time}}" stopTime="{{end_time}}"></scope>
    <schedule creationTime="{{creation_time}}" originator="RadioDNS Manager 4.1.0 (http://ebu.io/rdns)">

    {% for s in schedules %}
      <programme shortId="{{s.id}}">
        <mediumName>{{s.json_show.medium_name}}</mediumName>
        <longName>{{s.json_show.long_name}}</longName>
        <location>
          <time duration="{{s.duration}}" time="{{s.start_time}}" />
        </location>
        <mediaDescription>
          <shortDescription>{{s.json_show.description}}</shortDescription>
        </mediaDescription>
      </programme>
    {% endfor %}
  </schedule>
</epg>
