{% extends "plugIt/base.html" %}
{% load plugit_tags %}

{% block title %}Home :: RadioDNS{% endblock %}

{% block menubar %}
    {% plugitInclude "menubar" %}
{% endblock %}

{% block content %}

    {% block pageheader %}
    <div class="menubar">
        <div class="sidebar-toggler visible-xs">
            <i class="ion-navicon"></i>
        </div>
        <div class="page-title">
            Home
            <small class="hidden-xs">{% block pagesubtitle %} {% endblock %}</small>
        </div>
        <div id="page-functions" class="pull-right">{% block pagefunctions %} {% endblock %}</div>
        <div id="page-search" class="pull-right">{% block pagesearch %} {% endblock %}</div>
    </div>
    {% endblock %}


	<p class="well well-small">
		Welcome !
	</p>

	<p>You're currently working with the organization <i>{{ebuio_orga.name}}</i>. use the lower-left combo in the menu to change any time.</p>

{% endblock %}

