{% extends "base.html" %}

{% block title %}Gallery :: RadioVIS :: RadioDNS{% endblock %}

{% block content %}

    {% block pageheader %}
    <div class="menubar">
        <div class="sidebar-toggler visible-xs">
            <i class="ion-navicon"></i>
        </div>
        <div class="page-title">
            {% if form.file %}Edit a{% else %}New{% endif %} picture
            <small class="hidden-xs">{% block pagesubtitle %} {% endblock %}</small>
        </div>
        <div id="page-functions" class="pull-right">{% block pagefunctions %} {% endblock %}</div>
        <div id="page-search" class="pull-right">{% block pagesearch %} {% endblock %}</div>
    </div>
    {% endblock %}
    {% block alerts %}
    {{ block.super }}
    {% endblock %}
	<form action="" method="POST" enctype="multipart/form-data" class="form-horizontal">
		{% csrf_token %}

		<div class="form-group">
			<label class="col-sm-3 col-md-3 control-label">Name:</label>
			<div class="col-sm-9 col-md-7">
				<input type="text" class="form-control" name="name" value="{% if form.name.value %}{{form.name.value}}{% endif %}">
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 col-md-3 control-label">Radio text:</label>
			<div class="col-sm-9 col-md-7">
				<input type="text" class="form-control" name="radiotext" value="{% if form.radiotext.value %}{{form.radiotext.value}}{% endif %}">
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 col-md-3 control-label">Associated Weblink:</label>
			<div class="col-sm-9 col-md-7">
				<input type="text" class="form-control" name="radiolink" value="{% if form.radiolink.value %}{{form.radiolink.value}}{% endif %}">
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 col-md-3 control-label">Photo:</label>
			<div class="col-sm-9 col-md-7">
				<input type="file" class="form-control" name="file">
				{% if form.file.filename %}{{form.file.filename}}{% endif %}
				<br /><small>PNG or JPEG. Please upload an image of size 320x240 or it will be resized.</small>
			</div>
		</div>

		<hr />

		<div class="form-group">
			<div class="col-sm-4 col-sm-offset-3">
				<input type="submit" class="btn btn-primary" value="Save">
				<a href="{% url 'radiovis:list_images' %}" class="btn btn-default">Cancel</a>
			</div>
		</div>

	</form>


{% endblock %}

