{% extends "base.html" %}
{% load static %}
{% block title %}Gallery :: RadioVIS :: RadioDNS{% endblock %}

{% block content %}

	{% block pageheader %}
    <div class="menubar">
        <div class="sidebar-toggler visible-xs">
            <i class="ion-navicon"></i>
        </div>
        <div class="page-title">
            RadioVIS :: Gallery
            <small class="hidden-xs">{% block pagesubtitle %} {% endblock %}</small>
        </div>
        <div id="page-functions" class="pull-right">{% block pagefunctions %}
                    <a href="{% url 'radiovis:new_image' %}" class="btn btn-primary">Add a new image</a>
            {% endblock %}</div>
        <div id="page-search" class="pull-right">{% block pagesearch %} {% endblock %}</div>
    </div>
    {% endblock %}
    {% block alerts %}
    {{ block.super }}
    {% endblock %}
	<div class="table-responsive">
	<table id="radiovis-img-table" class="display" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th>Name</th>
				<th>Text</th>
				<th>URL</th>
				<th>Image</th>
				<th style="width: 150px;"></th>
			</tr>
		</thead>

		<tbody>
			{% for image in images %}
				<tr>
					<td>{{image.name}}</td>
					<td>{{image.radiotext}}</td>
					<td>{{image.radiolink}}</td>
					<td><img src="{{image.file.url}}" width="64" height="48" ></td>
					<td style="text-align:right;">
							<a href="{% url 'radiovis:delete_image' image.id %}" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure ?');">Delete</a>
							<a href="{% url 'radiovis:edit_image' image.id %}" class="btn btn-sm btn-default">Edit</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
    </div>
     <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.min.css' %}"/>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#radiovis-img-table').DataTable({
                    "paging": false,
                    "ordering": true,
                    "info": true
                });
            });

     </script>
{% endblock %}
