{% extends "base.html" %}

{% block title %}Service following :: RadioEPG :: RadioDNS{% endblock %}

{% block content %}

    {% block pageheader %}
    <div class="menubar">
        <div class="sidebar-toggler visible-xs">
            <i class="ion-navicon"></i>
        </div>
        <div class="page-title">
            Edit an entry for service following
            <small class="hidden-xs">{% block pagesubtitle %} {% endblock %}</small>
        </div>
        <div id="page-functions" class="pull-right">{% block pagefunctions %} {% endblock %}</div>
        <div id="page-search" class="pull-right">{% block pagesearch %} {% endblock %}</div>
    </div>
    {% endblock %}
    {% block alerts %}
    {{ block.super }}
    {{form.errors}}
    {% endblock %}

	<form action="" method="POST" enctype="multipart/form-data" class="form-horizontal">
		{% csrf_token %}

        <div class="form-group">
			<label class="col-sm-3 col-md-3 control-label">Channel:</label>
			<div class="col-sm-9 col-md-7">
                <select name="channel" class="form-control" id="channel">
                    {% for channel in channels %}
                        <option value="{{channel.id}}" {% if form.channel.id == channel.id %}selected{% endif %}>{{channel.name}}</option>
                    {% endfor %}
                </select>
                {{ form.channel.errors }}
			</div>
		</div>
        <div class="form-group">
			<label class="col-sm-3 col-md-3 control-label">Cost:</label>
			<div class="col-sm-9 col-md-7">
                <input type="text" name="cost" value="{{form.cost.value|default:'100'}}" class="form-control">
                {{ form.cost.errors }}
			</div>
		</div>

        <div class="form-group">
			<label class="col-sm-3 col-md-3 control-label">Mime/type:</label>
			<div class="col-sm-9 col-md-7">
				<input type="text" name="mime_type" value="{% if form.mime_type.value %}{{form.mime_type.value}}{% endif %}" class="form-control">
                {{ form.mime_type.errors }}
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 col-md-3 control-label">Offset (ms):</label>
			<div class="col-sm-9 col-md-7">
				<input type="text" name="offset" value="{{form.offset.value|default:"0"}}" class="form-control">
                {{ form.offset.errors }}
			</div>
		</div>

        <hr />

		<div class="form-group">
			<div class="col-sm-4 col-sm-offset-3">
                <input type="submit" class="btn btn-primary" value="Save">
                <a href="{% url 'radioepg:station_services' selected_station.id %}" class="btn">Cancel</a>
		    </div>
		</div>

	</form>

	<hr style="visibility: hidden; clear: both;">

{% endblock %}

