{% extends "plugIt/base.html" %}
{% load plugit_tags %}

{% block title %}Service Provider :: RadioDNS{% endblock %}

{% block menubar %}
    {% plugitInclude "menubar" %}
{% endblock %}

{% block content %}

    {% block pageheader %}
    <div class="menubar">
        <div class="sidebar-toggler visible-xs">
            <i class="ion-navicon"></i>
        </div>
        <div class="page-title">
            {{ebuio_orga.name}} :: Service Provider Configuration
            <small class="hidden-xs">{% block pagesubtitle %} {% endblock %}</small>
        </div>
        <div id="page-functions" class="pull-right">
            {% block pagefunctions %}
            {% if ebuio_u.ebuio_orga_admin %}
                <a href="{{ebuio_baseUrl}}serviceprovider/edit/{{serviceprovider.id}}{% if not s %}-{% endif %}" class="btn btn-primary">Edit</a>
            {% endif %}
            {% endblock %}</div>
        <div id="page-search" class="pull-right">{% block pagesearch %} {% endblock %}</div>
    </div>
    {% endblock %}


	{% if saved %}
		<div class="alert alert-success" role="alert">
			Service Provider configuration has been saved
		</div>
	{% endif %}


	{% if deleted %}
		<div class="alert alert-success" role="alert">
			Service Provider configuration has been deleted
		</div>
	{% endif %}


    {% if not ebu_codops %}
        <div class="alert alert-danger" role="alert">
			<strong>No CODOPS has been defined for your organisation yet.</strong> <br />
            As this is a required global setting, please contact Mathias Coinchon (<a href="mailto:coinchon@ebu.ch">coinchon@ebu.ch</a>) to get started.
		</div>
    {% else %}

        {% if not serviceprovider %}
             <div class="alert alert-warning" role="alert">
                <p><strong>No configuration for your organisation exists yet.</strong> <br />
                Start by creating the initial service provider configuration.
                 </p>
                <p><a href="{{ebuio_baseUrl}}serviceprovider/edit/{{serviceprovider.id}}{% if not s %}-{% endif %}" class="btn btn-primary">Edit</a></p>
            </div>
        {% else %}

            {% if not serviceprovider.default_logo_image_id %}
                <div class="alert alert-danger" role="alert">
                    <p><strong>No Default Provider Image has been defined.</strong> <br />
                    User the provider image section to add your default image.</p>
                    <p><a href="{{ebuio_baseUrl}}serviceprovider/images/edit/-" class="btn btn-info">Add a new image</a>
                    <a href="{{ebuio_baseUrl}}serviceprovider/images" class="btn btn-info">Set an existing image</a></p>
                </div>
            {% endif %}

        <div class="row">
            <div class="col-md-8">
                <h3>Current configuration:</h3>

                <div class="table-responsive">
                <table class="table table-striped table-hover table-condensed">
                    <tbody>
                        <tr>
                            <th>CODOPS</th>
                            <td><i>{{ebu_codops}}</i></td>
                        </tr>
                        <tr>
                            <th>Short Name</th>
                            <td>{{serviceprovider.short_name}}</td>
                        </tr>
                        <tr>
                            <th>Medium Name</th>
                            <td>{{serviceprovider.medium_name}}</td>
                        </tr>
                        <tr>
                            <th>Long Name</th>
                            <td>{{serviceprovider.long_name}}</td>
                        </tr>
                        <tr>
                            <th>Short Description</th>
                            <td>{{serviceprovider.short_description}}</td>
                        </tr>
                        <tr>
                            <th>Long Description</th>
                            <td>{{serviceprovider.long_description}}</td>
                        </tr>
                        <tr>
                            <th>Default Url</th>
                            <td><a href="{{serviceprovider.url_default}}" target="_blank">{{serviceprovider.url_default}}</a></td>
                        </tr>
                        <tr>
                            <th>Default Language</th>
                            <td>{{serviceprovider.default_language}}</td>
                        </tr>
                        <tr>
                            <th>Country</th>
                            <td>{{serviceprovider.location_country}}</td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
            {% if serviceprovider.default_logo_image_data %}
            <div class="col-md-3 col-md-offset-1">
                <img style="width: 100%;" src="{{serviceprovider.default_logo_image_data.public_url}}">
            </div>
            {% endif %}
        </div>
        <hr />
        <div class="row">

            <h3>Bucket & DNS Configuration Check:</h3>

            <div class="table-responsive">
            <table class="table table-striped table-hover table-condensed">
                <tbody>
                    <tr>
                        <th style="width:200px;">Status</th>
                        <td><span id="radiodns-serviceprovider-status" class="label label-default">Loading</span></td>
                    </tr>
                    <tr>
                        <th>Bucket</th>
                        <td><span id="radiodns-serviceprovider-bucket" ><i class="ion-loading-c"></i></span></td>
                    </tr>
                    <tr>
                        <th>Bucket name</th>
                        <td><span id="radiodns-serviceprovider-bucketname" ><i class="ion-loading-c"></i></span></td>
                    </tr>
                    <tr>
                        <th>Bucket public endpoint</th>
                        <td><span id="radiodns-serviceprovider-bucketendpoint" ><i class="ion-loading-c"></i></span></td>
                    </tr>
                    <tr>
                        <th>Bucket CNAME</th>
                        <td><span id="radiodns-serviceprovider-bucketcname" ><i class="ion-loading-c"></i></span></td>
                    </tr>
                     <tr>
                        <th>Bucket CNAME Record</th>
                        <td><span id="radiodns-serviceprovider-bucketcnameentry" ><i class="ion-loading-c"></i></span></td>
                    </tr>
                    <tr>
                        <th>DNS Zone</th>
                        <td><span id="radiodns-serviceprovider-zone" ><i class="ion-loading-c"></i></span></td>
                    </tr>
                     <tr>
                        <th>&nbsp;</th>
                        <td><span id="radiodns-serviceprovider-zonens" ><i class="ion-loading-c"></i></span></td>
                    </tr>
                     <tr>
                        <th>Parent NS Entry</th>
                        <td><span id="radiodns-serviceprovider-parent" ><i class="ion-loading-c"></i></span></td>
                    </tr>
                    <tr>
                        <th>&nbsp;</th>
                        <td><span id="radiodns-serviceprovider-parentns" ><i class="ion-loading-c"></i></span></td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>

        <script type="text/javascript">
            function checkProvider() {
                $.ajax({
                    url: '{{ebuio_baseUrl}}serviceprovider/check',
                    dataType: 'json',
                    success: function(data) {
                        if (data.isvalid) {
                            $('#radiodns-serviceprovider-status').html('Success');
                            $('#radiodns-serviceprovider-status').removeClass('label-default');
                            $('#radiodns-serviceprovider-status').addClass('label-success');
                        } else {
                            $('#radiodns-serviceprovider-status').html('Failed');
                            $('#radiodns-serviceprovider-status').removeClass('label-default');
                            $('#radiodns-serviceprovider-status').addClass('label-danger');
                        }

                        if (data.bucket) {
                            $('#radiodns-serviceprovider-bucket').html('Success');
                            $('#radiodns-serviceprovider-bucket').addClass('text-success');
                            $('#radiodns-serviceprovider-bucketname').html(data.bucket.name);
                            $('#radiodns-serviceprovider-bucketendpoint').html(data.bucket.publicendpoint);
                            $('#radiodns-serviceprovider-bucketcname').html(data.bucket.cname.name);
                            $('#radiodns-serviceprovider-bucketcnameentry').html(data.bucket.cname.record);
                            if(data.bucket.publicendpoint != data.bucket.cname.record)
                            {
                                $('#radiodns-serviceprovider-bucketcnameentry').addClass('text-danger');
                            }
                        } else {
                            $('#radiodns-serviceprovider-bucket').html('Missing');
                            $('#radiodns-serviceprovider-bucket').addClass('text-danger');
                        }

                        if (data.zone) {
                            $('#radiodns-serviceprovider-zone').html(data.zone.zone);
                            $('#radiodns-serviceprovider-zone').addClass('text-success');
                            $('#radiodns-serviceprovider-zonens').html(data.zone.ns);
                        } else {
                            $('#radiodns-serviceprovider-zone').html('Missing');
                            $('#radiodns-serviceprovider-zone').addClass('text-danger');
                        }

                        if (data.parentns) {
                            $('#radiodns-serviceprovider-parent').html(data.parentns.entry);
                            $('#radiodns-serviceprovider-parent').addClass('text-success');
                            $('#radiodns-serviceprovider-parentns').html(data.parentns.value);
                        } else {
                            $('#radiodns-serviceprovider-parent').html('Missing');
                            $('#radiodns-serviceprovider-parent').addClass('text-danger');
                        }

                    }
                });
            }

            checkProvider();
        </script>

        {% endif %}
	{% endif %}

{% endblock %}

