{% extends "plugIt/base.html" %}
{% load plugit_tags %}

{% block title %}Channels :: RadioDNS{% endblock %}

{% block menubar %}
    {% plugitInclude "menubar" %}
{% endblock %}

{% block content %}

    {% block pageheader %}
    <div class="menubar">
        <div class="sidebar-toggler visible-xs">
            <i class="ion-navicon"></i>
        </div>
        <div class="page-title">
            {{ebuio_orga.name}} :: Edit a channel
            <small class="hidden-xs">{% block pagesubtitle %} {% endblock %}</small>
        </div>
        <div id="page-functions" class="pull-right">{% block pagefunctions %} {% endblock %}</div>
        <div id="page-search" class="pull-right">{% block pagesearch %} {% endblock %}</div>
    </div>
    {% endblock %}

	{% if errors %}
		<div class="alert alert-error">
			<ul>
				{% for e in errors %}
					<li>{{e}}</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}

	<form action="" method="POST" class="form-horizontal">
		{% csrf_token %}

		<div class="form-group">
			<label class="col-sm-3 col-md-3 control-label">Station:</label>
			<div class="col-sm-9 col-md-7">
				<select name="station" class="form-control" >
					{% for s in stations %}
						<option value="{{s.id}}" {% if object.station_id == s.id %}selected{% endif %}>{{s.name}}</option>
					{% endfor %}
				</select>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 col-md-3 control-label">Channel Name:</label>
			<div class="col-sm-9 col-md-7">
				<input type="text" class="form-control" name="name" value="{{object.name}}">
			</div>
		</div>

        <hr />

		<div class="form-group">
			<label class="col-sm-3 col-md-3 control-label">Transmitter type:</label>
			<div class="col-sm-9 col-md-7">
				<select name="type_id" id="type" class="form-control" onchange="update_display();">
					{% for t in types_id %}
						<option value="{{t.0}}" {% if object.type_id == t.0 %}selected{% endif %}>{{t.1}}</option>
					{% endfor %}
				</select>
			</div>
		</div>

        <hr />

		<div class="form-group opblk opblk_ecc_id">
			<label class="col-sm-3 col-md-3 control-label">ECC:</label>
			<div class="col-sm-9 col-md-7">
				<select name="ecc_id" class="form-control" id="ecc" cval="{{object.ecc_id}}">
				</select>
			</div>
		</div>

		<div class="form-group opblk opblk_pi">
			<label class="col-sm-3 col-md-3 control-label">PI:</label>
			<div class="col-sm-9 col-md-7">
				<input type="text" class="form-control" name="pi" value="{{object.pi}}">
				<small>Programme Identificaton</small>
			</div>
		</div>

		<div class="form-group opblk opblk_frequency">
			<label class="col-sm-3 col-md-3 control-label">Frequency:</label>
			<div class="col-sm-9 col-md-7">
				<input type="text" class="form-control" name="frequency" value="{{object.frequency}}">
				<small>wildcard * possible</small>
			</div>
		</div>

		<div class="form-group opblk opblk_eid">
			<label class="col-sm-3 col-md-3 control-label">EID:</label>
			<div class="col-sm-9 col-md-7">
				<input type="text" class="form-control" name="eid" value="{{object.eid}}">
				<small>Ensemble ID</small>
			</div>
		</div>

		<div class="form-group opblk opblk_sid">
			<label class="col-sm-3 col-md-3 control-label">SID:</label>
			<div class="col-sm-9 col-md-7">
				<input type="text" class="form-control" name="sid" value="{{object.sid}}">
				<small>Service ID</small>
			</div>
		</div>

		<div class="form-group opblk opblk_scids">
			<label class="col-sm-3 col-md-3 control-label">SCIDS:</label>
			<div class="col-sm-9 col-md-7">
				<input type="text" class="form-control" name="scids" value="{{object.scids}}">
				<small>Service Component Identifier</small>
			</div>
		</div>

		<div class="form-group opblk opblk_appty_uatype">
			<label class="col-sm-3 col-md-3 control-label">appty-uatype:</label>
			<div class="col-sm-9 col-md-7">
				<input type="text" class="form-control" name="appty_uatype" value="{{object.appty_uatype}}">
				<small>X-PAD Applicaton Type (AppTy) and User Applicaton type (UAtype)</small>
			</div>
		</div>

		<div class="form-group opblk opblk_pa">
			<label class="col-sm-3 col-md-3 control-label">PA:</label>
			<div class="col-sm-9 col-md-7">
				<input type="text" class="form-control" name="pa" value="{{object.pa}}">
				<small>Packet Address</small>
			</div>
		</div>

		<div class="form-group opblk opblk_tx">
			<label class="col-sm-3 col-md-3 control-label">TX:</label>
			<div class="col-sm-9 col-md-7">
				<input type="text" class="form-control" name="tx" value="{{object.tx}}">
				<small>Transmiter Identifier</small>
			</div>
		</div>

		<div class="form-group opblk opblk_cc">
			<label class="col-sm-3 col-md-3 control-label">CC:</label>
			<div class="col-sm-9 col-md-7">
				<select class="form-control" name="cc" id="cc" cval="{{object.cc}}">
				</select>
				<small>Country Code</small>
			</div>
		</div>

        <div class="form-group opblk opblk_stream_url">
			<label class="col-sm-3 col-md-3 control-label">Stream Url:</label>
			<div class="col-sm-9 col-md-7">
				<input type="text" class="form-control" name="stream_url" id="stream_url" value="{{object.stream_url}}">
				<small>http://server/stream</small>
			</div>
		</div>

		<div class="form-group opblk opblk_fqdn">
			<label class="col-sm-3 col-md-3 control-label">FQDN:</label>
			<div class="col-sm-9 col-md-7">
				<input type="text" class="form-control" name="fqdn" id="fqdn" value="{{object.fqdn}}">
				<small>Authoritative FQDN</small>
			</div>
		</div>

		<div class="form-group opblk opblk_serviceIdentifier">
			<label class="col-sm-3 col-md-3 control-label">serviceIdentifier:</label>
			<div class="col-sm-9 col-md-7">
				<input type="text" class="form-control" name="serviceIdentifier" id="serviceIdentifier" value="{{object.serviceIdentifier}}">
				<small>Service Identifier</small>
			</div>
		</div>

        <div class="form-group opblk opblk_mime_type">
			<label class="col-sm-3 col-md-3 control-label">Mime Type:</label>
			<div class="col-sm-9 col-md-7">
				<input type="text" class="form-control" name="mime_type" value="{{object.mime_type}}">
				<small>audio/mpeg or audio/aac etc.</small>
			</div>
		</div>

        <div class="form-group opblk opblk_bitrate">
			<label class="col-sm-3 col-md-3 control-label">Bitrate:</label>
			<div class="col-sm-9 col-md-7">
				<input type="text" class="form-control" name="bitrate" value="{{object.bitrate}}">
				<small>kbits/s</small>
			</div>
		</div>

		<hr />

		<div class="form-group">
			<div class="col-sm-4 col-sm-offset-3">
				<input type="submit" class="btn btn-primary" value="Save">
				<a href="{{ebuio_baseUrl}}channels/" class="btn btn-default">Cancel</a>
			</div>
		</div>


	</form>

	<script type="text/javascript">

		function load_countries() {
			$.ajax({
				url: '{{ebuio_baseUrl}}ecc_list',
				dataType: 'json',
				success: function(data) {
					cc_val = $('#cc').attr('cval');
					cc_id = '';

					$(data.list).each(function(_, el) {
						opt = '<option value="' + el.id + '">' + el.name + ' (' + el.iso + ') [' + el.pi + el.ecc + ']</option>';

						//Find cc id (as we store the cc and not the id to the country)
						if (cc_val == (el.pi + el.ecc)){
							cc_id = el.id;
						}


						$('#cc').append(opt);
						$('#ecc').append(opt);
					})

					$('#cc').val(cc_id);
					var default_country = $('#ecc').attr('cval')
					if(!default_country)
					    default_country = "{{default_country}}";
					$('#ecc').val(default_country);
				}
			})
		}

		function update_display() {
			$('.opblk').hide();

			var cVal = $('#type').val();

			{% for t in types_id %}
				if (cVal == '{{t.0}}') {
					{% for v in t.2 %}
						$('.opblk_{{v}}').show();
					{% endfor %}
				}
			{% endfor %}

			$('.opblk').each(function(_, el) {

				if ($(el).css('display') == 'none') {
					$(el).find('input').val('');
					$(el).find('select').val('');
				}
			});		

		}

		update_display();
		load_countries();

		// Automatic fqdn and serviceIdentifier
        var fqdn_edited = {% if object.fqdn %} true {% else %} false {% endif %};
        var si_edited = {% if object.serviceIdentifier %} true {% else %} false {% endif %};

        $('#stream_url').on('focusout', function() {
            if($(this).val() != ""){
                if(!fqdn_edited) {
                    $('#fqdn').val($(this).val());
                }
                if(!si_edited) {
                    $('#serviceIdentifier').val($(this).val());
                }
            }
		});
		$('#fqdn').on('focusout', function() {
		    if($(this).val() != ""){
		        fqdn_edited = true;
            } else {
                fqdn_edited = false;
            }
		});
		$('#serviceIdentifier').on('focusout', function() {
		    if($(this).val() != ""){
		        si_edited = true;
            } else {
                si_edited = false;
            }
		});

	</script>

{% endblock %}

