{% extends "plugIt/base.html" %}
{% load plugit_tags %}

{% block title %}Channels :: RadioDNS{% endblock %}

{% block menubar %}
    {% plugitInclude "menubar" %}
{% endblock %}

{% block content %}

    {% block pageheader %}
    <div class="menubar">
        <div class="sidebar-toggler visible-xs">
            <i class="ion-navicon"></i>
        </div>
        <div class="page-title">
            {{ebuio_orga.name}} :: Channels
            <small class="hidden-xs">{% block pagesubtitle %} {% endblock %}</small>
        </div>
        <div id="page-functions" class="pull-right">
			{% block pagefunctions %}
				{% if ebuio_u.ebuio_orga_admin %}
					<a href="{{ebuio_baseUrl}}channels/export/" class="btn btn-default">Export to zone file</a>
					<a href="{{ebuio_baseUrl}}channels/edit/-" class="btn btn-primary">Add a new channel</a>
				{% endif %}
			{% endblock %}
		</div>
        <div id="page-search" class="pull-right">{% block pagesearch %} {% endblock %}</div>
    </div>
    {% endblock %}

	{% if saved %}
		<div class="alert alert-success" role="alert">
			Channel has been saved
		</div>
	{% endif %}

	{% if deleted %}
		<div class="alert alert-success" role="alert">
			Channel has been deleted
		</div>
	{% endif %}

	<div class="table-responsive">
	<table class="table table-striped table-hover table-condensed">
		<thead>
			<tr>
				<th>Station</th>
				<th>Name</th>
				<th>RadioDNS entry</th>
				<th>DNS Authoritative FQDN</th>
				<th>VIS server</th>
				<th>EPG server</th>
				<th>TAG server</th>
				<th style="width: 100px;"></th>
			</tr>
		</thead>

		<tbody>
			{% for c in list %}
				<tr>
					<td>{{c.station_name}}</td>
					<td>{{c.name}}</td>
					<td>{{c.radiodns_entry}}</td>
					<td id="fqdn-{{c.id}}"><i class="ion-load-c"></i></td>
					<td id="vis-{{c.id}}"><i class="ion-load-c"></i></td>
					<td id="epg-{{c.id}}"><i class="ion-load-c"></i></td>
					<td id="tag-{{c.id}}"><i class="ion-load-c"></i></td>
					<td>
						{% if ebuio_u.ebuio_orga_admin %}
							<a href="{{ebuio_baseUrl}}channels/delete/{{c.id}}" class="btn btn-xs btn-danger" onclick="return confirm('Are you sure ?');">Delete</a>
							<a href="{{ebuio_baseUrl}}channels/edit/{{c.id}}" class="btn btn-xs btn-default">Edit</a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	</div>

    <script src='{{ebuio_baseUrl}}media/js/ajaxq.js'></script>
	<script type="text/javascript">
		function checkChannel(id) {
			$.ajaxq("rdns-channelq", {
				url: '{{ebuio_baseUrl}}channels/check/' + id,
				dataType: 'json',
				success: function(data) {
					if (data.fqdn) {
						$('#fqdn-' + id).html(data.fqdn);
						if(data.fqdn == data.expected_fqdn) {
							$('#fqdn-' + id).addClass('text-success');
						} else {
							$('#fqdn-' + id).addClass('text-warning');
							$('#fqdn-' + id).append('<span class="label label-warning" data-toggle="tooltip" data-placement="top" title="Expected FQDN is '+data.expected_fqdn+'"><i class="ion-alert-circled"></i></span>');
						}
					} else {
						$('#fqdn-' + id).html('no radiodns entry');
						$('#fqdn-' + id).addClass('text-danger');
					}

					if (data.radiovis.service) {
						vis = data.radiovis.service.split(' ');

						var visvalue = vis[3] + ':' + vis[2];
						visvalue = visvalue.replace(/\.:/, ":");
						$('#vis-' + id).html(visvalue);
						if(visvalue == data.radiovis.exptected_service) {
							$('#vis-' + id).addClass('text-success');
						} else {
							$('#vis-' + id).addClass('text-warning');
							$('#vis-' + id).append('<span class="label label-warning" data-toggle="tooltip" data-placement="top" title="Expected RadioVIS is '+data.radiovis.exptected_service+'"><i class="ion-alert-circled"></i></span>');
						}
					} else {
						$('#vis-' + id).html('no service');
						$('#vis-' + id).addClass('text-danger');
					}

					if (data.radioepg.service) {
						epg = data.radioepg.service.split(' ');

						var epgvalue = epg[3] + ':' + epg[2];
						epgvalue = epgvalue.replace(/\.:/, ":");
						$('#epg-' + id).html(epgvalue);
						if(epgvalue == data.radioepg.exptected_service) {
							$('#epg-' + id).addClass('text-success');
						} else {
							$('#epg-' + id).addClass('text-warning');
							$('#epg-' + id).append('<span class="label label-warning" data-toggle="tooltip" data-placement="top" title="Expected RadioEPG is '+data.radioepg.exptected_service+'"><i class="ion-alert-circled"></i></span>');
						}
					} else {
						$('#epg-' + id).html('no service');
						$('#epg-' + id).addClass('text-danger');
					}

					if (data.radiotag.service) {
						tag = data.radiotag.service.split(' ');

						var tagvalue = tag[3] + ':' + tag[2];
						tagvalue = tagvalue.replace(/\.:/, ":");
						$('#tag-' + id).html(tagvalue);
						if(tagvalue == data.radiotag.exptected_service) {
							$('#tag-' + id).addClass('text-success');
						} else {
							$('#tag-' + id).addClass('text-warning');
							$('#tag-' + id).append('<span class="label label-warning" data-toggle="tooltip" data-placement="top" title="Expected RadioTAG is '+data.radiotag.exptected_service+'"><i class="ion-alert-circled"></i></span>');
						}
					} else {
						$('#tag-' + id).html('no service');
						$('#tag-' + id).addClass('text-danger');
					}
				}
			});

			// Tool Tips
			$('[data-toggle="tooltip"]').tooltip({html: true});
		}

		{% for c in list %}
			checkChannel({{c.id}});
		{% endfor %}

	</script>


{% endblock %}

