{% extends "plugIt/base.html" %}
{% load plugit_tags %}

{% block title %}Channels :: RadioDNS{% endblock %}

{% block menubar %}
    {% plugitInclude "menubar" %}
{% endblock %}

{% block content %}

    {% block pageheader %}
    <div class="menubar">
        <div class="sidebar-toggler visible-xs">
            <i class="ion-navicon"></i>
        </div>
        <div class="page-title">
            {{ebuio_orga.name}} :: Import channels
            <small class="hidden-xs">{% block pagesubtitle %} {% endblock %}</small>
        </div>
        <div id="page-functions" class="pull-right">{% block pagefunctions %} {% endblock %}</div>
        <div id="page-search" class="pull-right">{% block pagesearch %} {% endblock %}</div>
    </div>
    {% endblock %}

	{% if errors %}
		<div class="alert alert-warning">
			<ul>
				{% for e in errors %}
					<li>{{e}}</li>
				{% endfor %}
			</ul>
            {% if error_lines %}
            <br />
            <code>
                {% for e in error_lines %}
					{{e}}<br />
				{% endfor %}
            </code>
            {% endif %}
		</div>
	{% endif %}

	<form action="" method="POST" class="form-horizontal">
		{% csrf_token %}

        <dd ebuio_orgapk
		<div class="form-group">
			<label class="col-sm-3 col-md-3 control-label">Station:</label>
			<div class="col-sm-9 col-md-7">
				<select name="station" class="form-control" >
					{% for s in stations %}
						<option value="{{s.id}}" {% if object.station_id == s.id %}selected{% endif %}>{{s.name}}</option>
					{% endfor %}
				</select>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 col-md-3 control-label">Import Field:</label>
			<div class="col-sm-9 col-md-7">
                <textarea id="formdata" name="importdata" class="form-control" rows="15">{{importdata}}</textarea>
				<small>Respect input format<br/>
                    <em>name,fm,ecc,pid,frequency<br/>
                    name,dab,ecc,eid,sid,scids,UAType,PA<br/>
                    name,drm,sid<br/>
                    name,amss,sid<br/>
                    name,hd,cc,tx<br/>
                    name,ip,fqdn,service id<br/></em>
                    Example : Bantiger,fm,ch,43d1,09210
                </small>
			</div>
		</div>

		<hr />

		<div class="form-group">
			<div class="col-sm-4 col-sm-offset-3">
				<input type="submit" class="btn btn-primary" value="Save">
				<a href="{{ebuio_baseUrl}}channels/" class="btn btn-default">Cancel</a>
			</div>
		</div>

	</form>
{% endblock %}

